@import 'variables';
@import 'mixins';
@import 'type';

html{
    overflow: scroll;
}

/* Forms -----------------------------*/
    .note-editor .note-toolbar{
        background: $black-1;
        overflow: hidden;
    }
    .note-editor .modal{
        background-color: $black-0!important;
        z-index: 5000!important;
    }
    .btn-toolbar{
        z-index: 995!important; /* otherwise overlaps with modal */
    }
    fieldset.invalid{
        border-color: $red;
    }

    .checkbox-red[type="checkbox"]:checked + label:before{
        border-right: 2px solid $red;
        border-bottom: 2px solid $red;
    }
    .modal{
        z-index: 1000;
    }

/* Navigation ------------------------*/
    .admin-nav .brand-logo{
        overflow: visible;
    }
    .admin-nav{
        a{
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .admin-side-nav{
        .logo{
            margin-bottom: 20px;
        }
        .collapsible-body{
            padding: 0;
        }
        .collapsible-header:not(.active){
            color: $white;
        }
        li{
            padding: 0;
            &:hover{
                a{
                    transition: all .3s ease-out;
                }
            }
        }
        li:hover a{
            color: $black-0;
        }
    }
    .collapsible-accordion > li:hover > a{
        color: $gray-2!important;
    }

/* Advance ------------------------*/
    .advance-section{
        background-color: $gray-0;
        margin: $margin-lg 0;
        padding: $pad-sm;
        cursor: pointer;
        .collapsible-body{
            background-color: $gray-1;
        }
    }
    .advance-section,.collapsible-header{
        background-color: $gray-0;
    }

/* Article ------------------------*/
    .admin-figure{
        height: 100px;
        width: auto;
    }
    .note-editor{
        border: 0px!important;
        .btn-group{
            .btn{
                border-radius: 0px !important;
                box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12)!important;
            }
        }
    }
    #article-title{
        .note-editable{
            font-size: $font-lg; /*for article title*/
        }
    }
    .add-btn{
        text-transform: none!important;
    }

    #institution-form{
        input,textarea{
            margin: 0;
        }
    }
    li.disabled{
        @include opacity(0.2);
    }
    .article-form-anchors, .article-nav{
        margin: 0;
        li{
            display: inline-block;
            margin-bottom: $margin-sm;
        }
    }
    #article-form{
        fieldset{
            legend{
                @extend h4;
            }
        }
    }

/* General ------------------------*/
    main{
        height: 100%;
        min-height: 100vh;
        &.admin{
            background-color: #cfd8dc;
        }
    }
    .admin-id{
        margin: $margin-md $margin-sm $margin-sm 0;
        display: inline-block;
        /*for article ids and issue mongo id*/
    }
    .admin-container{
        padding-left: 300px;
        @media only screen and (max-width: 992px){
            padding-left: 0px;
        }
    }
    .admin-header{
        border-bottom: 1px solid;
    }
    .admin-true{
        color: $green;
    }
    .admin-false{
        color: $red;
    }

/* Misc ------------------------*/
    .xml-upload{
        padding: $pad-lg;
        @include border-radius(5px);
        .btn{
            @include border-radius(5px);
        }
    }

/* Sortable Lists ------------------*/
    /* about, for authors, site control */
    .about-sections-list, .sections-list, .side-nav-options, #volume-issues-list, .advance-order{
        li{
            padding: $pad-md;
            margin: $margin-md 0;
            background: $gray-0;
            cursor: pointer;
        }
    }
    #volume-issues-list{
        display: block;
        float: left;
        width: 100%;
    }

/* DOI ------------------------*/
    .article-date-conflict{
        background: $red;
        color: $white;
    }

/* Article audit ------------------------*/
    .table-group-header{
        background: $gray-0;
    }

/* Data submissions  ------------------------*/

.authors-and-ref{
    .authors{
        margin-bottom: 10px;
    }
    .author-affiliations, .author-notes, .equal-contrib{
        font-size: small;
        color: $black-2;
    }
}

/* Article grid --------------------------*/
.article-grid-cell {
   height:14px;
   width:14px;
   float:left;
   background:tomato;
   margin:1px;
}

.article-grid-cell-status-two {
    background:orange!important;
}

.article-grid-cell-status-three {
    background:yellow!important;
}

.article-grid-cell-fresh {
    background:limegreen!important;
}
