@import 'variables';
@import 'mixins';
@import 'type';
@import 'admin';

html,body{
	min-height: 100%;
	margin: 0;
	padding: 0;
   	font-family: "Lora", sans-serif;
}


/* Type ------------------------*/
	strong {
		font-weight: bold;
	}
	/* Type adjustments */
	.orange-type{
		color: $orange;
	}
	.red-type{
		color: $red;
	}
	.font-sm{
		font-size: $font-sm!important;
	}
	.font-md{
		font-size: $font-md!important;
	}

/* Containers ------------------------*/
	.container-main{
		min-height: 100vh;
	}
	.box{
		margin: $margin-lg 0;
		padding: $pad-md $pad-lg;
	}
	.edit-box{
		@extend .box;
		.row{
			margin: 0;
		}
		.col{
			margin-top: $margin-md;
			margin-bottom: $margin-md;
		}
	}
	.border-box{
		@extend .box;
		border: 1px solid $black-0;
	}
	.card {
		h4 {
			margin-top:0em;
			margin-bottom:0.3em;
		}
	}

/* Navigation ------------------------*/
	/*// pushing the logo around at the top*/
	.brand-logo {
		position: relative;
		top: 2px;
		img{
			width: 100%;
		}
	}
	nav{
		a{
			text-align: center;
		}
	}
	.side-nav.fixed a.active{
		color: $white-dark;
	}

/* Borders ------------------------*/
	.border-gray{
		border: 1px solid $gray-2;
	}

/* Ed Board ------------------------*/
	.edboard-bio {
	   display: none;
	}

/* Article ------------------------*/
	#article-title{
		margin:0px;
	}
	.authors{
		.author{
			&:last-child{
				.comma{
					display:none;
				}
			}
		}
	}
	.author-affiliations{
		span{
			.comma{
				display: inline-block!important;
			}
			&:last-child{
				.comma{
					display:none!important;
				}
			}
		}
	}
	.affiliations{
		color: $gray-2;
	}
	.kw{
		margin: $margin-sm 0 $margin-sm $margin-sm;
		@extend .serif !optional;
		text-transform: none !important;
	}
/* Buttons ------------------------*/
	.btn{
		@extend .serif !optional;
	}
	.btn.active, .btn.btn-gray{
		background: $gray-2;
	}
	.btn-sm{
		font-size: $font-sm;
		height: $pad-md*3;
		line-height: $pad-md;
		padding: $pad-md;
		i {
			font-size: $font-sm;
			padding: 0;
		}
	}
	.btn-primary{
		background-color: $btn-color-primary;
	}
	.btn-update{
		background-color: $btn-color-update;
	}
	.btn-add{
		background-color: $btn-color-add;
	}
	.btn-edit{
		background-color: $btn-color-edit;
	}
	.btn-delete{
		background-color: $btn-color-delete;
	}
	.btn-cancel{
		background-color: $btn-color-cancel;
	}
	.submit{
		background-color: $btn-color-primary;
	}
	.kw{
		font-size: 0.8rem;
	}
	.close-icon{
		font-size: $font-lg;
		cursor: pointer;
	}
	.btn.active{
		pointer-events: none;
	}

/* Links --------------------------*/
	a:not(.btn):not(.nav-links > a){
		color: $link-text;
		&:hover{
			color: $link-text-hover;
		};
	}

/* List --------------------------*/
	.roman-list{
		list-style: upper-roman;
	}

/* Materialize ------------------------*/
	.card-header{
		border-bottom: 2px solid $journal-primary-color;
	}

/* Forms ------------------------*/
	fieldset{
		margin-top: $margin-lg;
		margin-bottom: $margin-lg;
	}
	.loading-img{
		width: 100px;
		margin: 0 auto;
	}
	.saving{
		padding: $pad-lg;
	}
	.success{
		.col{
			padding: $pad-lg;
		}
	}
	.clear{
		background-color: $red;
	}
	#close-success-msg{
		cursor: pointer;
	}
	.error-box{
		padding: $pad-lg;
		background-color: $red-lightest;
	}

/* MISC ------------------------*/
	.pointer{
		cursor: pointer;
	}
	.no-margin{
		margin: 0px;
	}
	.margin-right-lg{
		margin-right: $margin-lg;
	}
	.no-padding{
		padding: 0px;
	}
	.opaque{
		@include opacity(0.5);
	}
	.page-section-content, .note-editable{
		p{
			margin: $margin-md 0!important;
		}
		ul{
			list-style: disc;
			padding-left: $pad-lg;
			li{
				list-style: disc;
			}
		}
	}

	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	* html .clearfix             { zoom: 1; } /* IE6 */
	*:first-child+html .clearfix { zoom: 1; } /* IE7 */
