@import 'mixins';
@import 'variables';
.sans{
  font-family: Helvetica, Arial, sans-serif;
}
h3,h5,p, .btn{
  @extend .sans;
}

$breakpoints: (
  medium: 43.75rem,
  large : 56.25rem
);

h1,h2,h3{
    font-weight: bold;
}
h1{
    color: $black-0;
}
h2{
    color: $black-1;
}
h3{
    color: $black-0;
}
h4{
    color: $black-2;
}
h5{
    color: $black-1;
}
h6{
    color: $black-2;
}
p{
    color: $color-paragraph;
}

$h1-font-sizes: (
  null  : 2rem,
  medium: 2.5rem,
  large : 3rem
);
$h2-font-sizes: (
  null  : 1.625rem,
  medium: 2rem,
  large : 2.25rem
);
$h3-font-sizes: (
  null  : 1.5rem
);
$h4-font-sizes: (
  null  : 1.25rem
);
$h5-font-sizes: (
  null  : 1.2rem
);
$h6-font-sizes: (
  null  : 1.15rem
);
$h7-font-sizes: (
  null  : 1.1rem
);
$h8-font-sizes: (
  null  : 1.05rem
);
$p-font-sizes: (
  null  : (1rem, 1.3)
);
$blockquote-font-sizes: (
  null  : (1.25rem, 1.4)
);


h1 {
  @include font-size($h1-font-sizes);
}
h2 {
  @include font-size($h2-font-sizes);
}
h3 {
  @include font-size($h3-font-sizes);
}
h4 {
  @include font-size($h4-font-sizes);
}
h4 {
  @include font-size($h4-font-sizes);
}
h5 {
  @include font-size($h5-font-sizes);
}
h6 {
  @include font-size($h6-font-sizes);
}
h7 {
  @include font-size($h7-font-sizes);
}
h8 {
  @include font-size($h8-font-sizes);
}
p {
  @include font-size($p-font-sizes);
}
blockquote {
  @include font-size($blockquote-font-sizes);
}
