<template name="AdminArticleTypes">
    {{>AdminHeader header="Article Types"}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="plural-name">Plural</th>
                                <th data-field="short-name">Short</th>
                                <th data-field="nlm">NLM</th>
                                <th data-field="full-text">Full Text</th>
                                <th data-field="abstract">Abstract</th>
                                {{#if isInRole 'super-admin'}}
                                <th>Edit</th>
                                {{/if}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each types}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{plural}}</td>
                                <td>{{short_name}}</td>
                                <td>{{nlm_type}}</td>
                                <td>{{#if full_text}}Yes{{else}}No{{/if}}</td>
                                <td>{{#if abstract}}Yes{{else}}No{{/if}}</td>
                                {{#if isInRole 'super-admin'}}
                                <td><a href="{{pathFor 'ArticleTypeEdit' _id=_id}}">Edit</a></td>
                                {{/if}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="ArticleTypesAdd">
    {{>AdminHeader header="Add Article Type"}}
    {{>ArticleTypeForm}}
</template>

<template name="ArticleTypeOverview">
    {{>AdminHeader header="Article Type"}}
    <div class="row"><div class="col s12">
        <a class="btn btn-edit" href="{{pathFor 'ArticleTypeEdit' _id=type._id}}">Edit</a>
    </div></div>
    <div class="row"><div class="col s12"><div class="card z-depth-0"><div class="card-content">
        {{#with type}}
        <h4><u>Type Singular</u>: {{name}}</h4>
        <h4><u>Type Plural</u>: {{plural}}</h4>
        <h4><u>NLM Type</u>: {{nlm_type}}</h4>
        <h4><u>Full Text</u>: {{#if full_text}}Yes{{else}}No{{/if}}</h4>
        <h4><u>Abstract</u>: {{#if abstract}}Yes{{else}}No{{/if}}</h4>
        {{/with}}
    </div></div></div></div>
</template>

<template name="ArticleTypeEdit">
    {{>AdminHeader header="Edit Article Type"}}
    {{>ArticleTypeForm type=type}}
</template>

<template name="ArticleTypeForm">
    {{>SavingModal}}
    <div class="row"><div class="col s12"><div class="card z-depth-0"><div class="card-content">
        {{>RequiredSymbolRowMessage}}
        <form id="form-article-type" name="article-type" data-id={{type._id}}>
            <fieldset>
                <legend>{{>RequiredSymbol}} Type</legend>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="article-type-name" type="text" name="type-singular" value="{{type.name}}" required/>
                        <label for="type-singular" class="{{#if type.name}}active{{/if}}">Type Singular</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="article-type-plural" type="text" name="type-plural" value="{{type.plural}}" required/>
                        <label for="type-plural" class="{{#if type.plural}}active{{/if}}">Type Plural</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>{{>RequiredSymbol}} NLM Type</legend>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <select id="article-type-nlm_type">
                            <option value="">Select NLM Type</option>
                            {{#each nlm}}
                            <option value="{{name}}" selected="{{#if selected}}selected{{/if}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <label>NLM Type</label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Display Settings</legend>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input type="checkbox" id="article-type-full_text" checked="{{checked type.full_text}}" />
                        <label for="article-type-full_text">Full Text</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input type="checkbox" id="article-type-abstract" checked="{{checked type.abstract}}" />
                        <label for="article-type-abstract">Abstract</label>
                    </div>
                </div>
            </fieldset>

            {{>SaveBtn}}
        </form>
    </div></div></div></div>
</template>
