<template name="AdminPubMed">
    {{>AdminHeader header="PubMed Admin"}}
    {{>SavingModal}}


    <div class="row">
        <form class="col s12 pubMedReportForm" action="#">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Comma-delimited list (123,234,345)" id="piiList" type="text" class="piiList" value="">
                            <label for="piiList" class="active">PIIs</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s6 input-field">
                            <input placeholder="Enter unique report name" id="reportName" type="text" class="reportName" value="">
                            <label for="reportName" class="active">Report Name</label>
                        </div>
                        <div class="col s6">
                            <a class="waves-effect waves-light btn generateReport disabled">Generate PubMed report</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>


    {{>PubMedGrid}}
</template>

<template name="PubMedGrid">

    {{#if getPubMedPiis}}
    <div class="row">
        <div class="col s12">
            <h3>Article query status (click on squares to go to article page)</h3>
            {{#each getPubMedPiis}}
            <a href="/admin/article/{{pii}}"><div class="article-grid-cell {{#if equals status 'querying_metadata'}}article-grid-cell-status-two{{/if}} {{#if fresh}}article-grid-cell-fresh{{/if}}"></div></a>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {{#if isPubMedReportComplete}}<a target="_blank" href="/admin/pubmed_report_csv/{{getPubMedReportName}}">Download Report: {{getPubMedReportName}}</a>{{/if}}
            <table>
                <thead>
                    <tr>
                        <th>PII</th>
                        <th>PMID</th>
                        <th>DOI</th>
                        <th>Title</th>
                        <th>Pub Status</th>
                        <th>Query Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each getPubMedPiis}}
                    <tr>
                        <td>{{pii}}</td>
                        <td>{{pmid}}</td>
                        <td>{{doi}}</td>
                        <td>{{title}}</td>
                        <td>{{pubStatus}}</td>
                        <td>{{status}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{/if}}
</template>
