<template name="AdminVolume">
    {{>AdminHeader header="Volume" header_extra=volume.volume}}
    {{>SavingModal}}

    {{#if volume}}

    {{>saving}}

    {{>Error}}

    {{>successMessage what="Volume"}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Issue Order</span>
                    <form>
                    {{#with volume}}
                    {{>AdminVolumeIssue}}
                    {{/with}}
                    <div class="row">
                        <div class="col s12">
                            {{>SaveBtn}}
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Volume"}}{{/if}}

    {{/if}}
</template>
<template name="AdminVolumeIssue">
    <div class="row">
        <div class="col s12">
        <ul id="volume-issues-list">
        {{#each issues_data}}
            <li class="row valign-wrapper" id="{{_id}}">
                <div class="col s12 m1 center-align">
                    <i class="material-icons pointer">&#xE8D5;</i>
                </div>
                <div class="col s12 m11">
                    Issue {{issue}}
                </div>
            </li>
        {{/each}}
        </ul>
        </div>
    </div>
</template>
