<template name="AdminArchive">
    {{>AdminHeader header="Archive"}}
    <div class="row page-anchors">
        <div class="col s12">
            <a id="all-issue-publish" class="btn btn-sm anchor">Publish all Issue Data</a> {{#if issue_publish_count}}{{issue_publish_count}} of {{total_issue_count}} issues published{{/if}}
        </div>
    </div>
    <ul class="collection">
    {{#each volumes}}
        <li class="collection-item collection-header">
            <h3>Volume {{volume}}</h3>
            <a class="btn btn-sm" href="{{pathFor 'AdminVolume' v=volume}}">Edit Issue Order</a>
        </li>

        {{#each issues_data}}
            <li class="collection-item">
                <div class="row no-margin">
                    <div class="col s4">
                        <a href="{{pathFor 'AdminIssue' vi=vi}}">Issue {{issue}}</a>
                    </div>
                    <div class="col s4">
                        <a href="{{pathFor 'AdminIssueEdit' vi=vi}}">Edit Issue {{issue}}</a>
                    </div>
                    <div class="col s4">
                        {{#with pages}}
                        {{>IssuePages}}
                        {{/with}}
                    </div>
                </div>

            </li>
        {{/each}}
    {{/each}}
    </ul>
</template>
