<template name="AdminDashboard">
    {{>AdminHeader header="Dashboard"}}

    {{>SavingModal}}

    <div class="row">
        <div class="col s4">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Recent Articles</span>
                    <div class="row">
                        <div class="col s12">
                            <ul class="collection">
                            {{#each articles}}
                                <li class="collection-item"><h6>{{{title}}}</h6><p><a href="{{pathFor 'AdminArticle'}}">View</a></p></li>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card z-depth-0">
                {{>ArticleDatesCsvForm}}
            </div>
        </div>

        {{#with journal}}
        {{#if equals name 'Oncotarget'}}
        <div class="col s4">
            {{>ArticleLegacyUpdateForm}}
        </div>
        {{/if}}
        {{/with}}

        {{#if isInRole 'dev'}}
        {{#if journal}}


        <div class="col s4">
            <div class="card z-depth-0">
                <div class="card-content">
                    <button id="batch-article-db" type="button" class="btn" name="button">Resave Article DB</button>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card z-depth-0">
                <div class="card-content">
                    <button id="batch-prev-next" type="button" class="btn" name="button">Update Prev/Next</button>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card z-depth-0">
                <div class="card-content">
                    <button id="optimized-images-check" type="button" class="btn" name="button">Check Optimized Article Images</button>
                    <br /><br />
                    <button id="optimized-covers-check" type="button" class="btn" name="button">Check Optimized Covers</button>
                </div>
            </div>
        </div>

        {{#with journal}}
        {{#if equals name 'Oncotarget'}}
        <div class="col s4">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">OJS Batch Update</span>
                    {{>OncotargetOjsBatch}}
                </div>
            </div>
        </div>
        {{/if}}
        {{/with}}

        {{/if}}
        {{/if}}
    </div>
</template>

<template name="ArticleDatesCsvForm">
    <div class="card-content">
        <span class="card-title">Submitted, Accepted, EPub Dates</span>
        <div class="row">
            <div class="col s12">
                <form id="csv-articles-dates">
                    <fieldset>
                        <legend>Dates by PII</legend>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="articles-pii"/>
                                <label for="articles-pii">Comma separated PIIs</label>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn">{{>AdminDownloadIcon}} CSV Article Dates</button>
                </form>
            </div>
        </div>

        {{#with processingPii}}
        {{#if equals short_name 'oncotarget'}}
        <div class="row">
            <div class="col s12">
                <h4>Processing</h4>
                {{processingPii}}
            </div>
        </div>
        {{/if}}
        {{/with}}
    </div>
</template>
