<template name="AdminSiteControl">
    {{>AdminHeader header="Site Control"}}
    {{>SavingModal}}
    <form>
        {{>FixedSaveBtn}}
        <div class="row">
            <div class="col s12 m6">
                <div class="card z-depth-0">
                    <div class="card-content">
                        <fieldset>
                            <legend>Main Side Navigation</legend>
                            <ul class="side-nav-options">
                                {{#each sideNav}}
                                <li class="row">
                                    <div class="col s2 m1">{{>AdminDragIcon}}</div>
                                    <div class="col s10 m11">
                                        <input class="filled-in side-nav-option" name="{{route_name}}" type="checkbox" id="{{route_name}}-checkbox"  checked="{{checked display}}"/>
                                        <label id="{{route_name}}-label" for="{{route_name}}-checkbox">{{name}}</label>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card z-depth-0">
                    <div class="card-content">
                        <fieldset>
                            <legend>Section Side Navigation</legend>
                            <ul class="side-nav-options">
                                {{#each sectionSideNav}}
                                <li class="row">
                                    <div class="col s2 m1"><i class="material-icons">&#xE8D5;</i></div>
                                    <div class="col s10 m11">
                                        <input class="filled-in section-nav-option" type="checkbox" id="{{_id}}"  checked="{{checked display}}"/>
                                        <label for="{{_id}}">{{name}}</label>
                                    </div>
                                </li>
                                {{/each}}
                                {{#each sectionHidden}}
                                <li class="row">
                                    <div class="col s2 m1"><i class="material-icons">&#xE8D5;</i></div>
                                    <div class="col s10 m11">
                                        <input class="filled-in section-nav-option" type="checkbox" id="{{_id}}"  checked="{{checked display}}"/>
                                        <label for="{{_id}}">{{name}}</label>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                {{>SaveBtn}}
            </div>
        </div>
    </form>
</template>
