<template name="AdminBatch">
    {{>AdminHeader header="Batch Process"}}
    {{>saving}}
    {{>Success}}
    {{>Error}}
    {{>SavingModal}}

    <div class="row">
        <div class="col s12">
            <div class="card grey lighten-4">
                <div class="card-content"><div class="row"><div class="col s12">
                    <h2>Articles Audit</h2>
                    {{>AdminArticlesAuditContent}}
                </div></div></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            <div class="card purple lighten-5">
                <div class="card-content">
                    <h2>Queries</h2>
                    <h3>XML With __</h3>
                    <div class="row">
                        <div class="col s12">
                            <p>Will take all articles and look in the XML to see if they have what is inputted below</p>
                            <form id="search-xml">
                                <input type="text" id="search-for" placeholder="Search For"/>
                                <input type="submit" class="btn waves-effect waves-light gray lighten-3">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card orange lighten-5">
                <div class="card-content">
                    <h2>Article Files</h2>
                    <h3>Asset S3 Existence Check</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>PDF asset check</h4>
                            <p>Will take all articles Mongo IDs for articles without PDF saved in the DB and check on S3 if file exists. If so, article doc gets updated</p>
                            <button id="check-all-pdf" class="btn waves-effect waves-light red lighten-3">Check PDF</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>XML asset check</h4>
                            <p>Will take all articles Mongo IDs for articles without XML saved in the DB and check on S3 if file exists. If so, article doc gets updated</p>
                            <button id="check-all-xml" class="btn waves-effect waves-light red lighten-3">Check XML</button>
                        </div>
                    </div>
                 <!--    <div class="row">
                        <div class="col s12">
                            <h4>Figures asset check</h4>
                            <p>Will take all articles Mongo IDs for articles and check on S3 if file exists. If so, figures collection gets updated</p>
                            <button id="check-all-figures" class="btn waves-effect waves-light red lighten-3">Check Figures</button>
                        </div>
                    </div> -->
                    <hr/>
                    <h3>Get and Save Files</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>Get Missing Files via PMC</h4>
                            <p>Takes all articles Mongo IDs for articles without and XML or PDF and sends a request to crawler to get and save them on S3. If succesful, XML and PDF collections are updated.</p>
                            <button id="get-missing-files" class="btn waves-effect waves-light red lighten-3">Get Missing Files</button>
                        </div>
                    </div>
                    <hr/>
                    <h3>Asset Real Check</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>XML Real</h4>
                            <p>Will take all articles Mongo IDs for articles and check if XML on S3 contains a body node, indicating it is full text, will also check length of body node. Results downloaded as CSV (just displaying csv in modal for now).</p>
                            <button id="xml-audit-csv" class="btn waves-effect waves-light red lighten-3">Begin Audit XML</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card green lighten-5">
                <div class="card-content">
                    <h2>Fill in Articles Collection</h2>
                    <h3>Get New Articles</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>Add New Articles Via PubMed</h4>
                            <button id="fill-in-via-pubmed" class="btn waves-effect waves-light red lighten-3">Get New PubMed Articles</button>
                        </div>
                    </div>
                    <h3>IDs</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>Get Missing PMC ID Via PubMed</h4>
                            <p>PMID required to match PMC ID</p>
                            <p>Will not query all articles at PubMed, only will query missing PMC ID using PMID</p>
                            <button id="fill-in-pmcid" class="btn waves-effect waves-light red lighten-3">Get PMC IDs</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Get Missing PubMed ID Via Pii</h4>
                            <p>PII required to match PMID</p>
                            <button id="fill-in-pmid" class="btn waves-effect waves-light red lighten-3">Get PMIDs</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Get Missing PubMed and PMC ID Via PII</h4>
                            <p>PII required to match PMID and PMC ID</p>
                            <p>Will query PubMed by article</p>
                            <button id="fill-in-pmcid-pmid" class="btn waves-effect waves-light red lighten-3">Get PMC and PubMed IDs</button>
                        </div>
                    </div>
                    <h3>Dates</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>Via Legacy DB</h4>
                            <p>Get Epub, will update any article found in legacy with EPub</p>
                            <button id="get-articles-legacy-dates" class="btn waves-effect waves-light red lighten-3">Get Dates</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Via CrossRef</h4>
                            <p>Get Epub, will only update those without EPub in Paperchase and Epub is at CrossRef</p>
                            <button id="get-articles-crossref-dates" class="btn waves-effect waves-light red lighten-3">Get Dates</button>
                        </div>
                    </div>
                    <h3>Volume &amp; Issue</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>Via PubMed</h4>
                            <p>Get Volume and Issue for any article without. If issue doc does not exist then also create that. PMID required.</p>
                            <button id="fill-in-article-pubmed-info" class="btn waves-effect waves-light red lighten-3">Get Volume &amp; Issue</button>
                        </div>
                    </div>
                    <h3>Corresponding Authors</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>Via full text XML on S3</h4>
                            <p>Will update all articles, if full text available and corresponding information in XML. This will NOT preseve DB corresponding authors, instead will use XML information.</p>
                            <button id="batch-corresponding" class="btn waves-effect waves-light red lighten-3">Get Corresponding Authors</button>
                        </div>
                    </div>
                    <h3>Supplemental</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>Via full text XML on S3</h4>
                            <p>Will update all articles, if full text available and supplemental material in XML. This will NOT preseve DB settings for supp material, instead will use XML information.</p>
                            <button id="batch-supp" class="btn waves-effect waves-light red lighten-3">Get Supplemental Materials</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card blue lighten-4">
                <div class="card-content">
                    <div class="row">
                        <h2>Articles Setup</h2>
                        <p>Articles DB and XML/PDF on S3</p>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h3>1. Initiate Articles Collection</h3>
                            <p>This will use the crawler to get the PII/PMID/Title pairs. Then via paperchase, the articles collection is created. The PII/Title comes from the production MySQL DB. The PMID comes from PubMed, via matching titles.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="initiate-articles" class="btn waves-effect waves-light red lighten-3">Initiate</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col s12">
                            <h3>2. Save all PMC XML to S3</h3>
                            <p>This will use the crawler, which gets a list of PMID and then gets PMC ID. The PMC ID is then used to get PMC XML, which is saved to the journal bucket on S3.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-articles-pmc-xml" class="btn waves-effect waves-light red lighten-3">Get XML</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col s12">
                            <h3>3. Process ALL Articles XML</h3>
                            <p>This will loop through all articles in the DB and if the XML exists, process</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="process-all-xml" class="btn waves-effect waves-light red lighten-3">Process All XML</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col s12">
                            <h3>3. Save ALL PMC PDF</h3>
                            <p>For any article doc with ids.pmc, the crawler will save the PDF to S3. Response takes too long. So use next step to check if asset exists</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="process-all-pdf" class="btn waves-effect waves-light red lighten-3">Get PDF</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>THIS IS NOT FINISHED. USING HARD CODED PMID LIST. Duplicate Articles</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="find-duplicate-pubmed" class="btn waves-effect waves-light red lighten-3">Find Duplicates</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>This will take a PMID list and check for duplicates at PubMed by querying for title.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col s12">
            <div class="card grey darken-1">
                <div class="card-content">
                    <h3>DOI Project</h3>
                    <div class="row">
                        <div class="col s12">
                            <h4>PubStatus List</h4>
                            <p>This was used for the DOI project. I needed a list of all articles with status epub. Output in the console.</p>
                            <button id="all-articles-status" class="btn waves-effect waves-light grey darken-1">Get Status</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>AOP Date List</h4>
                            <p>This was used for the DOI project. I needed dates for AOP articles. Output in the console.</p>
                            <button id="aop-articles-date" class="btn waves-effect waves-light grey lighten-1">Get Dates</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>DOI Pairs File</h4>
                            <p>This will take a list of PMID, check if PubMed has DOI information, if not then it will get the PII and add to ouput, used to create pairs file. http://www.ncbi.nlm.nih.gov/books/NBK3812/#ft.AddingChanging_DOIPII_in_PubMed_Recor</p>
                            <button id="doi-update" class="btn waves-effect waves-light grey lighten-1">DOI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card grey darken-1">
                <div class="card-content">
                    <h3>Do Not Use</h3>
                    <p>I believe this is outdated</p>
                    <div class="row">
                        <div class="col s12">
                            <h3>Get PII</h3>
                            <h4>for All Articles</h4>
                            <p>Based on articles in articles collection. Uses 'ids.pmid' in article doc to query PubMed for PII</p>
                            <button id="get-all-pii" class="btn waves-effect waves-light grey lighten-1">Get PII For ALL Articles</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col s12">
                            <h3>Author Affiliations</h3>
                            <h4>for All Articles</h4>
                            <p>Based on articles in articles collection. Uses 'ids.pmid' in article doc to query PubMed for affiliations</p>
                            <p>Queries articles collection. Loops through articles. Gets XML response from PubMed with author affiliations. Loops through authors in article doc, matches author to the response from PubMed. Adds affilation to: author object in article doc, affiliations array in article doc, known affiliations array in author doc.</p>
                            <button id="get-all-authors-affiliations" class="btn waves-effect waves-light grey lighten-1">Get Author Affiliations</button>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col s12">
                            <h3>Pub Status</h3>
                            <h4>for All Articles</h4>
                            <button id="get-all-pub-status" class="btn waves-effect waves-light grey lighten-1">Get Articles Pub Status</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h3>Author Affiliations</h3>
                            <h4>for All Articles</h4>
                            <p>Add integer of affiliation to author based on affiliation string. For batch processing only</p>
                            <button id="update-authors-affs" class="btn waves-effect waves-light grey lighten-1">Update Affiliations</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <!--  <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>DEPRECATED Paperchase ID</h3>
                            <h4>for All Articles</h4>
                            <p>Use PII, or DOI</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="add-paperchase-id" class="btn waves-effect waves-light">Add Paperchase ID</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>DEPRECATED Advance Order</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="advance-order-update" class="btn waves-effect waves-light orange lighten-3">Update Advance Order</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>From OJS. Uses API http://www.impactjournals.com/ojs-api/index.php?get_advance_piis=1 to loop through PII and get MongoID to then add to the advance doc in the sorters collection.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col s12">
            <button id="intake-advance" class="btn waves-effect waves-light orange lighten-3">Intake Advance</button>
        </div>
    </div> -->
    <!-- <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>NEVER FINISHED. Get EJP Manuscripts</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button id="get-manuscripts" class="btn waves-effect waves-light orange lighten-3">Get Manuscripts</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row">

        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h3>DEPRECATED XML from PMC</h3>
                            <h4>based on list of PMID, in pmid.js</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5>Save XML to /uploads/pmc_xml/PMID.xml</h5>
                            <button id="download-pmc-xml" class="btn waves-effect waves-light">Download XML</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h5>Save all XML to DB</h5>
                            <p>Method 'saveXMLFromPMC', loops through all articles pmid list, pmid.js, to retrieve saved XML in /uploads/pmc_xml. Converts XML to JSON in method 'processXML'</p>
                            <h6>Queries</h6>
                            <ol>
                                <li>GET issue doc from issues collection</li>
                                <li>If no Issues doc, then INSERT issues collection</li>
                                <li>Add issue mongo id to <i>article doc</i></li>
                                <li>GET author doc from authors collection</li>
                                <li>If no author doc, then INSERT author collection</li>
                                <li>Add author mongo id to <i>article doc</i></li>
                                <li>INSERT <i>article doc</i> into articles collection</li>
                            </ol>
                            <button id="save-pmc-xml" class="btn waves-effect waves-light">Save XML to DB</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</template>
