<template name="AdminSections">
    {{>AdminHeader header="Sections"}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Section</th>
                                {{#if using_section_ids}}<th>ID</th>{{/if}}
                                <th data-field="name-first">Display</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each sections}}
                            <tr>
                                <td>{{name}}</td>
                                {{#if using_section_ids}}<td>{{section_id}}</td>{{/if}}
                                <td>{{#if display}}{{>AdminTrueIcon}}{{else}}{{>AdminFalseIcon}}{{/if}}</td>
                                <td><a class="waves-effect waves-light btn" href="{{pathFor 'AdminSectionPapers' _id=_id}}">Papers</a></td>
                                <td><a class="waves-effect waves-light btn btn-edit" href="{{pathFor 'AdminSectionsEdit' _id=_id}}">Edit</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminSectionPapers">
    {{>AdminHeader header="Section Papers"}}
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-edit" href="{{pathFor 'AdminSectionsEdit' _id=section._id}}">Edit Section</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">{{section.name}}</div>
                    {{#if papers}}
                    <table>
                        <thead>
                            <tr>
                                <td>Title</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each papers}}
                            <tr>
                                <td>{{{title}}}</td>
                                <td><a href="{{pathFor 'AdminArticle'}}">Edit</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{else}}
                    <h4>No Papers</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminSectionsAdd">
    {{>AdminHeader header="New Section"}}
    {{>AdminSectionsForm}}
</template>

<template name="AdminSectionsEdit">
    {{>AdminHeader header="Edit Section"}}
    {{>AdminSectionsForm}}
</template>


<template name="AdminSectionsForm">
    {{#with section}}
    {{>SavingModal}}
    <div class="card z-depth-0">
        <div class="card-content">
            {{>RequiredSymbolRowMessage}}
            <form id="section-form">
                <fieldset>
                    <legend>{{>RequiredSymbol}}  Section Name</legend>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" value="{{name}}" id="section-name" class="section-name" />
                        </div>
                    </div>
                </fieldset>
                {{#if using_section_ids}}
                <fieldset>
                    <legend>{{>RequiredSymbol}} Section ID</legend>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" value="{{section_id}}" id="section-id" class="section-id" />
                        </div>
                    </div>
                </fieldset>
                {{/if}}
                <fieldset>
                    <legend>Display</legend>

                    {{#if oncotarget}}
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="checkbox" checked="{{checked display_abstracts}}" id="display-abstracts"/>
                            <label for="display-abstracts">Display Abstracts</label>
                        </div>
                    </div>
                    {{/if}}

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="checkbox" checked="{{checked display}}" id="section-display"/>
                            <label for="section-display">Display {{#if oncotarget}} <i>(Not in use for Oncotarget Advance Publication)</i>{{/if}}</label>
                        </div>
                    </div>
                </fieldset>

                <input type="hidden" value="{{_id}}" id="section-mongo-id">

                <div class="row">
                    <div class="col s12 center-align">
                        {{>SaveBtn}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/with}}
</template>
