<template name="AdminEditorialBoard">
    {{>AdminHeader header="Editorial Board"}}
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn btn-add" href="{{pathFor 'AdminEditorialBoardAdd'}}">{{>AdminAddIcon}} Add Member</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <table class="responsive-table bordered">
                        <thead>
                            <tr>
                                <th data-field="name">Name</th>
                                <th data-field="role">Role</th>
                                <th data-field="address">Address</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each edboard}}
                            <tr>
                                <td>{{>PersonName}}</td>
                                <td>{{#each role}}<div>{{.}}</div>{{/each}}</td>
                                <td>{{address}}</td>
                                <td><a class="waves-effect waves-light btn" href="{{pathFor 'AdminEditorialBoardEdit'}}">Profile</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminEditorialBoardAdd">
    {{>AdminHeader header="Add Editorial Board Member"}}
    {{>AdminEditorialBoardForm}}
</template>

<template name="AdminEditorialBoardEdit">
    {{>AdminHeader header="Edit Editorial Board Member"}}
    {{#if member}}

    {{>AdminEditorialBoardForm}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Board Member"}}{{/if}}

    {{/if}}
</template>


<template name="AdminEditorialBoardForm">
    {{#with member}}
    {{>SavingModal}}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <form>
                        {{>FixedSaveBtn}}
                        {{>saving}}

                        <fieldset id="name">
                            <legend>Name</legend>
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <input class="form-name_first" name="member-name-first" type="text" value="{{name_first}}" id="member-name-first">
                                    <label for="member-name-first" class="{{#if notEmpty name_first}}active{{/if}}">First Name</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input class="form-name_middle" name="member-name-middle" type="text" value="{{name_middle}}" id="member-name-middle">
                                    <label for="member-name-middle" class="{{#if notEmpty name_middle}}active{{/if}}">Middle Name</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input class="form-name_last" name="member-name-last" type="text" value="{{name_last}}" id="member-name-last">
                                    <label for="member-name-last" class="{{#if notEmpty name_last}}active{{/if}}">{{>RequiredSymbol}} Last Name</label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="title">
                            <legend>Title</legend>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input class="form-title" name="member-title" type="text" value="{{title}}" id="member-title">
                                    <label for="member-title" class="{{#if notEmpty title}}active{{/if}}">Title</label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="email">
                            <legend>Email</legend>
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <input class="form-email" name="member-email" type="email" value="{{email}}" id="member-email">
                                    <label for="member-email" class="{{#if notEmpty email}}active{{/if}}">Email</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <input class="form-email-alt" name="member-email-alt" type="email" value="{{email_alt}}" id="member-email-alt">
                                    <label for="member-email-alt" class="{{#if notEmpty email_alt}}active{{/if}}">Email</label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="address">
                            <legend>Address</legend>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="card z-depth-0 blue-grey lighten-5">
                                        <div class="form-address member-address blue-grey lighten-5">{{{address}}}</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="bio">
                            <legend>Bio</legend>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div class="card z-depth-0 blue-grey lighten-5">
                                        <div class="form-bio member-bio">{{{bio}}}</div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="role">
                            <legend>Roles</legend>
                            <div class="form-roles row input-field">
                                {{#each roles}}
                                    <div class="col s12 m4">
                                        <input class="roles" id="member-role-{{@index}}" value="{{name}}" type="checkbox" checked="{{#if selected}}checked{{/if}}">
                                        <label for="member-role-{{@index}}">{{name}}</label>
                                    </div>
                                {{/each}}
                            </div>
                        </fieldset>

                        <fieldset id="new">
                            <legend>New</legend>
                            <div class="form-new row input-field">
                                <div class="col s12 m4">
                                    <input class="roles" id="member-new" value="{{new}}" type="checkbox" checked="{{#if new}}checked{{/if}}">
                                    <label for="member-new">New Member</label>
                                </div>
                            </div>
                        </fieldset>

                        <input type="hidden" value="{{_id}}" id="member-mongo-id">

                        <div class="row">
                            <div class="col s12 center-align">
                                {{>SaveBtn}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>
