<template name="AdminAddIssue">
    {{>AdminHeader header="Add Issue"}}

    {{>AdminIssueForm}}
</template>


<template name="AdminIssueHeader">
    {{>AdminIssueButtons}}
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey lighten-5 z-depth-0">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m9">
                            <h2 class="no-margin">Volume {{volume}}, Issue {{issue}}</h2>
                            <div class="admin-id"><label>Mongo ID:</label> {{_id}}</div>
                            {{#if pub_date}}<h4>{{formatDate pub_date}}</h4>{{/if}}
                            {{#with pages}}<h4>{{>IssuePages}}</h4>{{/with}}
                        </div>
                        <div class="col s12 m3 right-align">
                            {{#with prevIssue}}<a class="btn btn-sm" href="/admin/issue/{{vi}}">{{>AdminPreviousIcon}} Prev</a>{{/with}}
                            {{#with nextIssue}}<a class="btn btn-sm" href="/admin/issue/{{vi}}">Next {{>AdminNextIcon}}</a>{{/with}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminIssueEdit">
    {{>AdminHeader header="Edit Issue"}}

    {{#if issueData}}
    {{#with issueData}}

    {{>AdminIssueHeader}}

    <div class="row page-anchors">
        <div class="col s12">
            <a class="btn btn-sm anchor" href="#issue-settings">Settings</a>
            <a class="btn btn-sm anchor" href="#issue-cover">Cover</a>
            <a class="btn btn-sm anchor" href="#issue-contents">Contents</a>
            <a id="issue-publish" class="btn btn-sm anchor">Publish ({{#if last_published}}Last published on {{last_published}}{{else}}Not Published{{/if}})</a>
        </div>
    </div>

    {{>AdminIssueForm}}

    <div class="row" id="issue-cover">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Issue Cover</span>
                    {{>IssueCoverUploader}}
                </div>
            </div>
        </div>
    </div>

    {{>AdminIssueContents}}

    {{#with issueData}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Optimized Covers</span>
                    {{#if optimized_urls}}
                    <div class="row">
                        {{#each arrayify optimized_urls}}
                        <div class="col s12 m2">
                            <h4>{{name}}</h4>
                            <div class="card z-depth-0 blue-grey lighten-5">
                                <div class="card-content">
                                    <img src="{{value}}" class="materialboxed responsive-img" alt="{{name}}" id="cover-{{name}}">
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <h4>No Optimized Covers</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Delete Issue</span>
                    <div id="delete-request">
                        <div class="row">
                            <div class="col s12">
                                <a class="btn btn-sm btn-delete" id="delete-issue">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="hide" id="delete-verify">
                        <div class="row">
                            <div class="col s12">
                                <a class="btn btn-sm btn-cancel" id="delete-cancel">Cancel</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <p>Deleting an issue will delete the issue cover, delete all issue information from the database, and remove all articles from the issue.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" id="issue-delete-input">
                                <label for="issue-delete-input" class="{{#if volume}}active{{/if}}">Type 'DELETE' confirm issue deletion</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <a class="btn btn-sm btn-delete" id="delete-confirmation">Confirm Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/with}}

    {{else}}

    {{>Loading}}

    {{#if adminNotFound}}{{>Admin404 what="Issue"}}{{/if}}

    {{/if}}
</template>

<template name="AdminIssueButtons">
    <div class="row">
        <div class="col s12">
            <a href="{{pathFor 'AdminIssue' vi=vi}}" class="btn {{isActiveRoute 'AdminIssue'}}">Overview</a>
            <a href="{{pathFor 'AdminIssueEdit' vi=vi}}" class="btn {{isActiveRoute 'AdminIssueEdit'}}">Edit</a>

            {{#if journal}}
            <a href="{{journal.visitor}}issue/{{vi}}" class="btn" target="_BLANK">{{>AdminFwdIcon}} Visitor Site</a>
            {{/if}}
        </div>
    </div>
</template>

<template name="AdminIssue">
    {{>AdminHeader header="Issue"}}

    {{#if issueData}}
    {{#with issueData}}

    {{>AdminIssueHeader}}

    {{#if articles}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <button type="button" name="page-spans" id="page-spans" class="btn">Recalculate Page Spans</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    {{>AdminIssueContents}}

    {{/with}}

    {{else}}

    {{>Loading}}

    {{/if}}
</template>

<template name="AdminIssueForm">
    {{>SavingModal}}
    <div class="row" id="issue-settings">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Issue Settings</span>
                    <form>
                        <div data-id="{{_id}}" id="mongo-id"></div>
                        <fieldset id="issue-settings">
                            <legend>{{>RequiredSymbol}}</legend>
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    <input type="number" id="issue-volume" value="{{volume}}">
                                    <label for="issue-volume" class="{{#if volume}}active{{/if}}">Volume</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input type="text" id="issue-issue" value="{{issue}}">
                                    <label for="issue-issue" class="{{#if issue}}active{{/if}}">Issue</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input type="date" class="datepicker" id="issue-date" value="{{inputDate pub_date}}" data-value="{{inputDate pub_date}}" date="{{inputDate pub_date}}">
                                    <label for="issue-date" class="{{#if pub_date}}active{{/if}}">Date</label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset id="issue-settings">
                            <legend>Cover Caption</legend>
                            <div class="row">
                                    <div class="input-field col s12">
                                        <div class="card blue-grey z-depth-0 lighten-5 no-margin">
                                            <div class="issue-caption">{{{caption}}}</div>
                                        </div>
                                    </div>
                                </div>
                        </fieldset>

                        <fieldset id="issue-display-setting">
                            <legend>Display Settings</legend>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="checkbox" id="display-issue" checked="{{checked display}}"/>
                                    <label for="display-issue">display issue</label>
                                </div>
                                <div class="input-field col s12">
                                    <p class="font-sm">* Hiding/displaying an issue will also hide/display all articles in the issue.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="checkbox" id="current-issue" checked="{{checked current}}" disabled="{{#if current}}disabled{{/if}}" />
                                    <label for="current-issue">current issue</label>
                                </div>
                                <div class="input-field col s12">
                                    {{#if current}}<p class="font-sm">* Can only change current issue by making another issue current</p>{{/if}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <p><b>Date</b></p>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input class="date-setting" type="checkbox" id="display-day" checked="{{checked date_settings.day}}"/>
                                    <label for="display-day">Day</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input class="date-setting" type="checkbox" id="display-month" checked="{{checked date_settings.month}}"/>
                                    <label for="display-month">Month</label>
                                </div>
                                <div class="input-field col s12 m4">
                                    <input class="date-setting" type="checkbox" id="display-year" checked="{{checked date_settings.year}}"/>
                                    <label for="display-year">Year</label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="col s12 center-align">
                                {{>SaveBtn}}
                            </div>
                        </div>

                        {{>RequiredSymbolRowMessage}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminIssueDeleted">
    {{>AdminHeader header="Issue Deleted"}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Articles Removed From Deleted Issue</span>
                    <ul class="collection">
                        {{#each articles}}
                        <li class="collection-item"><a href="{{pathFor 'AdminArticleOverview'}}">{{{title}}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="IssuePages">
    pp {{start}} &mdash; {{end}}
</template>

<template name="AdminIssueContents">
    <div class="row" id="issue-contents">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Issue Contents</span>
                    {{#if articles}}
                    <ul class="collection with-header">
                        {{#each articles}}
                        {{#if start_group}}
                        <li class="collection-header"><h4 id="{{article_type.nlm_type}}">{{article_type.name}}</h4></li>
                        {{/if}}
                        <li class="collection-item {{#if display}}{{else}}disabled{{/if}}">
                            {{#if display}}{{else}}<h4>Hidden to Visitors</h4>{{/if}}
                            <h5><a href="{{pathFor 'AdminArticleOverview'}}">{{{title}}}</a></h5>
                            <p>{{#if page_start}}pp {{page_start}}{{/if}}{{#if page_end}}-{{page_end}}{{/if}}</p>
                            {{>AdminArticleIds}}
                            {{#if countKeys dates}}
                            <div class="row">
                                <div class="col s12">
                                    {{#each arrayify dates}}
                                        <label>{{name}}:</label> {{articleDate value}}
                                    {{/each}}
                                </div>
                            </div>
                            {{/if}}
                            {{>ArticleAssets files=files}}
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <h4>No Articles</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</template>
