<template name="AdminNews">
    {{>AdminHeader header="News"}}
    <div class="row">
        <div class="col s12">
            <a class="edit-user waves-effect waves-light btn btn-add" href="{{pathFor 'AdminNewsAdd'}}">{{>AdminAddIcon}} Add News</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th data-field="title">Title</th>
                                <th data-field="date">Date</th>
                                <th data-field="display">Display</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each news}}
                            <tr>
                                <td>{{title}}</td>
                                <td>{{formatDate date}}</td>
                                <td>{{#if display}}Yes{{else}}No{{/if}}</td>
                                <td><a class="waves-effect waves-light btn" href="{{pathFor 'AdminNewsOverview'}}">See More</a></td>
                                <td><a class="waves-effect waves-light btn btn-edit" href="{{pathFor 'AdminNewsEdit'}}">Edit</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminNewsAdd">
    {{>AdminHeader header="Add News"}}
    {{>AdminNewsForm}}
</template>

<template name="AdminNewsEdit">
    {{>AdminHeader header="Edit News"}}
    {{#if news}}
    {{>AdminNewsForm}}
    {{else}}
    {{#if adminNotFound}}
    {{>Admin404 what="News"}}
    {{/if}}
    {{/if}}
</template>

<template name="AdminNewsForm">
    {{#with news}}
    {{>SavingModal}}

    <div class="row"><div class="col s12">
        <div class="card z-depth-0"><div class="card-content">
            <div class="row"><div class="col s12">
                <form>
                    {{>FixedSaveBtn}}

                    <fieldset>
                        <legend>Title</legend>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="news-title" type="text" value="{{title}}" id="news-title">
                                <label for="news-title" class="{{#if notEmpty title}}active{{/if}}">Title</label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>News Date</legend>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="date" class="datepicker" id="news-date" value="{{inputDate date}}" data-value="{{inputDate date}}" date="{{inputDate date}}">
                                <label for="news-date" class="active">Date</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input name="news-date-display" type="checkbox" checked="{{checked date_display}}" id="news-date-display">
                                <label for="news-date-display" class="{{#if notEmpty date_display}}active{{/if}}">Display News Date</label>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Content</legend>
                        <div class="row">
                            <div class="input-field col s12">
                                <div class="card blue-grey z-depth-0 lighten-5 no-margin">
                                    <div class="news-content">{{{content}}}</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Video</legend>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="news-interview" type="checkbox" checked="{{checked interview}}" id="news-interview">
                                <label for="news-interview" class="{{#if notEmpty interview}}active{{/if}}">Interview</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="news-youtube" type="text" value="{{youTube}}" id="news-youtube">
                                <label for="news-youtube" class="{{#if notEmpty youTube}}active{{/if}}">YouTube</label>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>Conference</legend>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="news-conference" type="checkbox" checked="{{checked conference}}" id="news-conference">
                                <label for="news-conference" class="{{#if notEmpty conference}}active{{/if}}">Conference</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="date" class="datepicker" id="conference-date-start" value="{{inputDate conference_date_start}}" data-value="{{inputDate conference_date_start}}" date="{{inputDate conference_date_start}}">
                                <label for="conference-date-start" class="active">Start Date</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input type="date" class="datepicker" id="conference-date-end" value="{{inputDate conference_date_end}}" data-value="{{inputDate conference_date_end}}" date="{{inputDate conference_date_end}}">
                                <label for="conference-date-end" class="active">End Date</label>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend>Tags</legend>
                        <div class="row" id="row-tag-btn">
                            <div class="col s12">
                                <a class="btn-floating waves-effect waves-light btn-add add-news-tag"><i class="material-icons">&#xE145;</i></a>
                            </div>
                        </div>
                        <div class="row hide" id="row-tag-input">
                            <div class="col s2">
                                <div class="row">
                                    <div class="col s12"><a class="btn-floating waves-effect waves-light btn-add add-to-tags right"><i class="material-icons">&#xE161;</i></a></div>
                                </div>
                                <div class="row">
                                    <div class="col s12"><button class="btn btn-cancel btn-floating cancel-news-tag right"><i class="material-icons">&#xE15D;</i></button></div>
                                </div>
                            </div>
                            <div class="col s10">
                                <div class="card z-depth-0 grey lighten-3"><div class="card-content"><div class="news-tag-input"></div></div></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                            {{#each tags}}
                                <div class="chip news-tag">
                                <span class="news-tag-text">{{{.}}}</span>
                                <i class="material-icons">close</i>
                                </div>
                            {{/each}}
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Settings</legend>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input name="news-display" type="checkbox" checked="{{checked display}}" id="news-display">
                                <label for="news-display">Display News</label>
                            </div>
                        </div>
                    </fieldset>

                    <input type="hidden" value="{{_id}}" id="news-mongo-id">

                    <div class="row">
                        <div class="col s12 center-align">
                            {{>SaveBtn}}
                        </div>
                    </div>
                </form>
            </div></div>
        </div></div>
    </div></div>
    {{/with}}
</template>

<template name="AdminNewsOverview">
    {{>AdminHeader header="News"}}
    {{#if news}}
    {{#with news}}
    <div class="row"><div class="col s12">
        <div class="card z-depth-0"><div class="card-content">
            <div class="row">
                <div class="col s12">
                    <a href="{{pathFor 'AdminNewsEdit' _id=_id}}" class="btn">Edit</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Display News</label> {{#if display}}Yes{{else}}No{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Title</label> {{title}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>News Date</label> {{#if date}}{{formatDate date}}{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>News Date Display</label> {{#if date_display}}Yes{{else}}No{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Content</label> {{{content}}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Conference</label>  {{#if conference}}Yes{{else}}No{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Conference Dates</label> {{#if conference_date_start}}{{formatDate conference_date_start}}{{/if}}{{#if conference_date_end}} - {{formatDate conference_date_end}}{{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <label>Interview</label> {{#if interview}}Yes{{else}}No{{/if}}
                </div>
            </div>
        </div></div>
    </div></div>
    {{/with}}
    {{else}}
    {{>Loading}}
    {{/if}}
</template>
