<template name="Error">
    <div class="row error hide">
        <div class="col s8 offset-s2 red lighten-4">
            <h5>Error</h5>
        </div>
    </div>
</template>

<!-- Required Fields -->
<template name="RequiredSymbol">
    <i class="material-icons orange-type">&#xE3E7;</i>
</template>
<template name="RequiredSymbolRowMessage">
    <div class="row">
        <div class="col s12 orange-type">
            {{>RequiredSymbol}} = Required
        </div>
    </div>
</template>

<!--SAVE PARTIALS-->
<template name="FixedSaveBtn">
    <div id="fixed-save-btn" class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button class="submit btn-floating btn-large">
            <div class="show-save">
                <i class="material-icons">&#xE161;</i>
            </div>
            <div class="show-wait hide">
                <div class="preloader-wrapper active" style="margin:4px;">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </button>
    </div>
</template>
<template name="SaveBtn">
    <button id="save-btn" class="submit btn-large">
            <div class="show-save">
                <i class="material-icons">&#xE161;</i> Save {{what}}
            </div>
            <div class="show-wait hide">
                <div class="preloader-wrapper active" style="margin:4px;">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
    </button>
</template>

<!--SUCCESS PARTIALS-->
<template name="Success">
    <div class="row success hide">
        <div class="col m4 offset-m4 s12 green lighten-4 center-align">
            <h5 style="margin:0;"><span class="success-message"></span><i id="close-success-msg" class="material-icons right">&#xE5CD;</i></h5>
        </div>
    </div>
</template>
<template name="successMessage">
    <div class="row success hide">
        <div class="col m4 offset-m4 s12 green lighten-4 center-align">
            <h5 style="margin:0;">{{what}} Saved <i id="close-success-msg" class="material-icons right">&#xE5CD;</i></h5>
        </div>
    </div>
</template>
<template name="SuccessModal">
    <div id="success-modal" class="modal">
        <div class="modal-content center-align">
            <h3>{{#if what}}{{what}} {{/if}}Saved</h3>
            {{#if details}}<h4>{{{details}}}</h4>{{/if}}
        </div>
    </div>
</template>

<!--WAITING PARTIALS-->
<template name="loadingGif">
    <img src="/images/loading.gif" alt="Loading..." class="loading-img">
</template>
<template name="processing">
    <div class="row hide saving center-align grey lighten-4">
        <div class="col s12">
            <h4>Processing..</h4>
            {{>Progress}}
        </div>
    </div>
</template>
<template name="ProcessingNotHidden">
    <div class="row saving center-align grey lighten-4">
        <div class="col s12">
            <h4>Processing..</h4>
            {{>Progress}}
        </div>
    </div>
</template>
<template name="saving">
    <div class="row saving hide center-align grey lighten-4">
        <div class="col s12">
            <h4>Saving</h4>
            <!-- {{>loadingGif}} -->
            {{>Progress}}
        </div>
    </div>
</template>
<template name="SavingModal">
    <div id="saving-modal" class="modal">
        <div class="modal-content center-align">
            <div class="center-align">
                {{#if saving}}
                    {{#if error}}
                    {{else}}
                        <h3 class="center-align">{{saving}}</h3>
                        {{>Progress}}
                    {{/if}}
                {{else}}
                    {{#if error}}
                        <h3 class="center-align red-type">Error</h3>
                        {{{error}}}
                    {{else}}
                        <h3 class="center-align">Done</h3>
                        {{{successMessage}}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
        </div>
    </div>
</template>
