<template name="PageWithSections">
    <div class="row">
        <div class="col s12">
            <button id="add-section" class="waves-effect waves-light btn btn-add"><i class="material-icons">&#xE147;</i> Section</button>
        </div>
    </div>

    {{#if sections}}
    {{>PageWithSectionsOrder sections=sections page=page}}

    <div class="row"><div class="col s12"><div class="card z-depth-0"><div class="card-content">
        <div class="card-title">Sections</div>
        <ol class="roman-list">
            {{#each sections}}
            <li>
            {{#if editingSection _id}}
            <div class="row">
                <div class="col s12 card grey lighten-5">
                    <div id="add-section-container" class="">
                        <h2>Edit Section</h2>
                        {{>PageSectionForm section=. page=../page}}
                    </div>
                </div>
            </div>
            {{else}}
            <div class="{{#if display}}{{else}}opaque{{/if}}">
                <h3 id="section-{{@index}}">
                    {{{title}}}
                    <button id="{{_id}}" class="btn btn-floating waves-effect waves-light btn-edit edit-section right" alt="Edit Section"><i class="material-icons" id="{{_id}}">&#xE254;</i></button>
                </h3>
                <div class="page-section-content">{{{content}}}</div>
            </div>
            {{/if}}
            </li>
            {{/each}}
        </ol>
    </div></div></div></div>
    {{/if}}

    <div id="add-section-container">
        {{#if showForm}}
        <div class="row">
            <div class="col s12">
                <div class="card z-depth-0">
                    <div class="card-content">
                        <div class="card-title">New Section</div>
                        {{>PageSectionForm page=page}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</template>

<template name="PageSectionForm">
    <form data-id="page-section-{{page}}">
        <fieldset>
            <legend>Title</legend>
            <div class="row">
                <div class="input-field col s12">
                    <div class="card blue-grey z-depth-0 lighten-5 no-margin">
                        <div class="form-title section-title">{{{section.title}}}</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Section</legend>
            <div class="row">
                <div class="input-field col s12">
                    <div class="card blue-grey z-depth-0 lighten-5 no-margin">
                        <div class="form-content section-content">{{{section.content}}}</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Display</legend>
            <div class="row">
                <div class="input-field col s12">
                    <input class="form-display" type="checkbox" checked={{checked section.display}} id="section-display"/>
                    <label for="section-display">Display</label>
                </div>
            </div>
        </fieldset>

        <input type="hidden" value="{{section._id}}" id="section-mongo-id">

        <div class="row">
            <div class="col s12 center-align">
                {{>SaveBtn}}
            </div>
        </div>
    </form>
</template>

<template name="PageWithSectionsOrder">
    <div class="row"><div class="col s12"><div class="card z-depth-0"><div class="card-content">
        <div class="card-title">Section Order</div>
        {{#if sections}}
        <ol class="roman-list sections-list">
        {{#each sections}}
            <li id="section-title-{{_id}}" class="{{#if display}}{{else}}opaque{{/if}}">{{{title}}}</li>
        {{/each}}
        </ol>
        <div class="row">
            <div class="col s12">
                <button id="save-section-order" data-id="page-section-{{page}}" class="waves-effect waves-light btn btn-update right">Save Section Order</button>
            </div>
        </div>
        {{else}}
        <h4>No Sections Saved</h4>
        {{/if}}
    </div></div></div></div>
</template>
