<template name="AdminUsers">
    {{>AdminHeader header="Users"}}
    <div class="row">
        <div class="col s12">
            <a class="edit-user waves-effect waves-light btn light-blue accent-4" href="{{pathFor 'AdminAddUser'}}">Add User</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <table>
                        <thead>
                            <tr>
                                <th data-field="email">Email</th>
                                <th data-field="name-first">First Name</th>
                                <th data-field="name-last">Last Name</th>
                                <th data-field="roles">Roles</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <td>{{#each emails}}{{address}}{{/each}}</td>
                                <td>{{name_first}}</td>
                                <td>{{name_last}}</td>
                                <td>{{#each arrayify roles}}
                                    {{#if equals name '__global_roles__' }}
                                    <label>admin</label>
                                    {{else}}
                                    <label>{{name}}</label>
                                    {{/if}}
                                    {{#each value}}
                                    {{.}}
                                    {{/each}}
                                    {{/each}}
                                </td>
                                <td><a class="waves-effect waves-light btn" href="{{pathFor 'AdminUser'}}">Profile</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminUserHeader">
    {{>AdminUserNav}}
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey lighten-5 z-depth-0">
                <div class="card-content">
                    {{#with name}}
                    {{first}}{{#if middle}} {{middle}}{{/if}}{{#if last}} {{last}}{{/if}}
                    {{/with}}
                    <p>{{#each emails}}{{address}}{{/each}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminUserNav">
    <div class="row">
        <div class="col s12">
            <a class="btn {{isActiveRoute 'AdminUser'}}" href="{{pathFor 'AdminUser' _id=_id}}">User Overview</a>
            <a class="btn btn-edit {{isActiveRoute 'AdminUserEdit'}}" href="{{pathFor 'AdminUserEdit' _id=_id}}">Edit Profile</a>
            <a class="btn btn-edit {{isActiveRoute 'AdminUserSubs'}}" href="{{pathFor 'AdminUserSubs' _id=_id}}">Edit Subscriptions</a>
        </div>
    </div>
</template>

<template name="AdminUser">
    {{>AdminHeader header="User Overview"}}

    {{#if user}}
    {{#with user}}
    {{>AdminUserHeader}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h4>Email</h4>
                            <p>{{#each emails}}{{address}}{{/each}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h4>Permissions</h4>
                            {{#each arrayify roles}}
                                {{#if equals name '__global_roles__' }}
                                <label>admin</label>
                                {{else}}
                                <label>{{name}}</label>
                                {{/if}}
                                {{#each value}}
                                {{.}}
                                {{/each}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="User"}}{{/if}}

    {{/if}}
</template>

<template name="AdminUserEdit">
    {{>AdminHeader header="Edit User"}}

    {{#if user}}

    {{>SavingModal}}
    {{#with user}}
    {{>AdminUserHeader}}
    {{/with}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="row">
                        {{>AdminUserForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="User"}}{{/if}}

    {{/if}}
</template>

<template name="AdminAddUser">
    {{>AdminHeader header="Add User"}}
    {{>SavingModal}}
    <div class="card">
        <div class="card-content user-edit">
            <div class="row">
                <div class="col s12">
                    {{>AdminUserForm}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminUserForm">
    {{#with user}}
    <form id="user-form">
        <fieldset id="user-email">
            <legend>{{>RequiredSymbol}} Email</legend>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" value="{{#each emails}}{{address}}{{/each}}">
                    <label for="email" class="{{#if emails}}active{{/if}}">Email</label>
                </div>
            </div>
        </fieldset>

        <fieldset id="user-name">
            <legend>Name</legend>
            <div class="row">
                <div class="input-field col s12 m4">
                    <input id="name_first" type="text" value="{{name.first}}">
                    <label for="name_first" class="{{#if name.first}}active{{/if}}">First Name</label>
                </div>
                <div class="input-field col s12 m4">
                    <input id="name_middle" type="text" value="{{name.middle}}">
                    <label for="name_middle" class="{{#if name.middle}}active{{/if}}">Middle Name</label>
                </div>
                <div class="input-field col s12 m4">
                    <input id="name_last" type="text" value="{{name.last}}">
                    <label for="name_last" class="{{#if name.last}}active{{/if}}">Last name</label>
                </div>
            </div>
        </fieldset>

        {{#if isInRole 'super-admin'}}
        <fieldset id="user-roles">
            <legend>Permissions</legend>
            {{#each arrayify all_roles}}
            <div class="row">
                <div class="col s12"><b>{{name}}</b></div>
                {{#each value}}
                <div class="col s4">
                    <input type="checkbox" class="filled-in role-checkbox" id="role-{{../name}}-{{role}}" data-role-type="{{../name}}" data-role="{{role}}" checked="{{checked has_role}}" />
                    <label for="role-{{../name}}-{{role}}">{{role}}</label>
                </div>
                {{/each}}
            </div>
            {{/each}}
            <div class="row">
                <div class="col s12">
                    <p><b>admin:</b> can only view</p>
                    <p><b>super-admin:</b> can do everything</p>
                    <p><b>article/edit:</b> can edit article information or create new articles</p>
                </div>
            </div>
        </fieldset>
        {{/if}}

        <div class="row">
            <div class="input-field col s12">
                <button class="submit btn waves-effect waves-light btn-save" type="submit" name="action" alt="Add User">Save</button>
            </div>
        </div>
    </form>
    {{/with}}
</template>

<template name="AdminUserSubs">
    {{>AdminHeader header="User Subscriptions"}}

    {{#if user}}

    {{#with user}}

    {{>AdminUserHeader}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            {{#with u}}
                            <h2>Subscriptions</h2>
                            {{/with}}
                            <form class="">
                                {{#each volumes}}

                                <div class="row">
                                    <div class="col s12">
                                        <h4>Volume {{volume}}</h4>
                                        <div class="clearfix">
                                            {{#each issues_data}}
                                            <div class="input-field" style="float:left; margin:0px 20px 0px 0px;">
                                                <input type="checkbox" name="issue-{{volume}}-{{issue}}" data-volume="{{volume}}" data-issue="{{issue}}" class="sub-cb filled-in" id="issue-{{volume}}-{{issue}}-sub-check" value="subscribed"/>
                                                <label for="issue-{{volume}}-{{issue}}-sub-check">{{issue}}</label>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>

                                <div class="divider"></div>

                                {{/each}}

                                <div class="row">
                                    <div class="input-field col s12">
                                        <button class="save-subs btn waves-effect waves-light btn-save" type="submit" name="action" alt="Save subscriptions">Save subscriptions</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{/with}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="User"}}{{/if}}

    {{/if}}
</template>
