<template name="AdminAdvanceArticles">
    {{>AdminHeader header="Advance Articles - Sections"}}

    {{>AdminAdvanceNav}}

    {{>SavingModal}}

    {{#if missing_section}}
    <div class="card-panel red lighten-2 white-text">There are sections in advance with article types that are currently not stored in the Paperchase database. Please add the missing sections using the <a class="yellow-text lighten-3" href="/admin/sections-add">Add Section page.</a></div>
    {{/if}}

    <form>
        {{#if sections}}
        <div class="publish-advanced fixed-action-btn card grey lighten-1" style="bottom: 45px; right: 24px; padding:10px;">
            <h5>Total count:<br>{{total}}</h5>
            <h5>Last published:<br>{{pubdate}}<br>{{pubtime}}</h5>
            <button class="waves-effect waves-light btn-large submit" type="submit">Publish</button>
            <div class="clearfix" style="margin-bottom:10px;"></div>
            <button class="waves-effect waves-light btn-large green" id="save-advance-order">Save Order</button>
        </div>
        {{/if}}
        {{#if savingOrder}}
        {{else}}
            {{#if sections}}
                {{>AdminAdvanceArticlesSections sections=sections}}
            {{/if}}
        {{/if}}
    </form>
</template>

<template name="AdminAdvanceArticlesSections">
    {{#if sections}}
    <div class="row">
        <div class="col s12">
            <ul class="advance-sections">
                {{#each sections}}
                <li class="advance-section card" data-name="{{section}}">
                    <div><h4><i class="material-icons handle">&#xE8D5;</i> {{section}}</h4></div>
                    <div>
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <div class="collapsible-header">{{articles_count}} Articles</div>
                                <div class="collapsible-body">
                                    <table class="bordered">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>EPub</th>
                                                <th>PII</th>
                                                <th>OJS</th>
                                                <th>Paperchase</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each articles}}
                                            <tr>
                                                <td>
                                                    {{{title}}}
                                                </td>
                                                <td>
                                                    {{articleDate dates.epub}}
                                                </td>
                                                <td>
                                                    {{ids.pii}}
                                                </td>
                                                <td>
                                                    <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{ids.pii}}">OJS</a>
                                                </td>
                                                <td>
                                                    <a href="{{pathFor 'AdminArticleOverview' _id=_id}}">Paperchase</a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
    {{>Loading}}
    {{/if}}
</template>



<template name="AdminAdvanceBatchDelete">
    <button class="waves-effect waves-light btn btn-sm red" id="advance-batch-delete" data-parent="{{parent}}">Batch Delete</button>
</template>

<template name="AdminAdvanceNav">
    <div class="row">
        <div class="col s12">
            <a class="btn {{isActiveRoute 'AdminAdvanceArticles'}}" href="{{pathFor 'AdminAdvanceArticles'}}">Sections</a>
            <a class="btn {{isActiveRoute 'AdminAdvanceArticlesResearch'}}" href="{{pathFor 'AdminAdvanceArticlesResearch'}}">Research Papers</a>
            <a class="btn {{isActiveRoute 'AdminAdvanceArticlesDiff'}}" href="{{pathFor 'AdminAdvanceArticlesDiff'}}">Paperchase Vs Legacy</a>
            <a class="btn {{isActiveRoute 'AdminAdvanceArticlesRemove'}}" href="{{pathFor 'AdminAdvanceArticlesRemove'}}">Remove Articles</a>
        </div>
    </div>
</template>

<template name="AdminAdvanceArticlesResearch">
    {{>AdminHeader header="Advance Articles - Research Papers"}}

    {{>AdminAdvanceNav}}
    {{>SavingModal}}

    {{#if saving}}
    {{else}}
    {{#if articles}}
    <div class="row">
        <div class="col s12"><div class="card z-depth-0">
            <div class="card-content">
                <form>
                    <div class="fixed-action-btn card grey lighten-1" style="bottom: 45px; right: 24px; padding:10px;">
                        <button class="waves-effect waves-light btn-large submit" type="submit">Save</button>
                    </div>

                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>EPub</th>
                                <th>PII</th>
                                <th>OJS</th>
                                <th>Paperchase</th>
                                <th>Recent</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each articles}}
                            <tr>
                                <td>
                                    <h4>{{{title}}}</h4>
                                </td>
                                <td>
                                    {{articleDate dates.epub}}
                                </td>
                                <td>
                                    {{ids.pii}}
                                </td>
                                <td>
                                    <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{ids.pii}}">OJS</a>
                                </td>
                                <td>
                                    <a href="{{pathFor 'AdminArticleOverview' _id=_id}}">Paperchase</a>
                                </td>
                                <td>
                                    <input id="article-{{_id}}" data-article-id="{{_id}}" type="checkbox" checked="{{#if equals section_id 0}}checked{{/if}}" class="recent-research"/>
                                    <label for="article-{{_id}}"></label>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </form>
            </div>
        </div></div>
    </div>
    {{/if}}
    {{/if}}
</template>


<template name="AdminAdvanceArticlesRemove">
    {{>AdminHeader header="Advance Articles - Remove Articles"}}
    {{>AdminAdvanceNav}}
    {{>SavingModal}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <form>
                        {{#if articles}}
                        <div class="fixed-action-btn card grey lighten-1" style="bottom: 45px; right: 24px; padding:10px;">
                            {{>AdminAdvanceBatchDelete}}
                        </div>
                        {{/if}}
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>EPub</th>
                                    <th>PII</th>
                                    <th>Article Type</th>
                                    <th>OJS</th>
                                    <th>Paperchase</th>
                                    <th>Batch Remove</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each articles}}
                            <tr>
                                <td>
                                    {{{title}}}
                                </td>
                                <td>
                                    {{articleDate dates.epub}}
                                </td>
                                <td>
                                    {{ids.pii}}
                                </td>
                                <td>
                                    {{#if article_type.type}}
                                    {{article_type.type}}
                                    {{else}}
                                    {{article_type.name}}
                                    {{/if}}
                                </td>
                                <td>
                                    <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{ids.pii}}">OJS</a>
                                </td>
                                <td>
                                    <a href="{{pathFor 'AdminArticleOverview' _id=_id}}">Paperchase</a>
                                </td>
                                <td>
                                    <input type="checkbox" data-article-id="{{_id}}" data-article-pii="{{ids.pii}}" id="{{_id}}-remove-article" class="remove-article checkbox-red"><label for="{{_id}}-remove-article"></label>
                                </td>
                                <td>
                                    {{>AdvanceRemoveArticle}}
                                </td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdvanceRemoveArticle">
    <a class="delete-article btn-floating right btn-small waves-effect waves-light red" data-delete-id="{{_id}}"><i class="small material-icons" data-delete-id="{{_id}}">delete</i></a>
</template>
