<template name="AdminAdvanceArticlesDiff">
    {{>AdminHeader header="Advance Article Platform Integration"}}

    {{>AdminAdvanceNav}}

    {{>SavingModal}}

    {{#if advanceDiff}}
    {{#with advanceDiff}}
    <div class="row">
        <div class="col s12">
            <h4>OJS Count: {{ojsCount}}</h4>
            <h4>Paperchase Advance: {{paperchaseCount}}</h4>
            <h4>Total Count: {{allPiiCount}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">OJS Only{{#if ojsOnly}}: {{countItems ojsOnly}} Articles{{/if}}</div>
                    {{#if ojsOnly}}
                    <div class="row"><div class="col s12"><button class="btn btn-add" id="add-all-ojs">Add all <u>OJS</u> advance to <u>Paperchase</u></button></div></div>
                    <div class="row"><div class="col s12"><table class="striped">
                        <tbody>
                            {{#each ojsOnly}}
                            <tr>
                                <td>{{pii}}</td>
                                <td><a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{pii}}">OJS</a></td>
                                <td><a class="add-ojs-to-advance" href="{{pathFor 'AddLegacyAdvanceArticle' query=query}}">Add to Paperchase</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table></div></div>
                    {{else}}
                    No missing articles
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Paperchase Not Advance, but OJS Advance{{#if paperchaseNotAdvance}}: {{countItems paperchaseNotAdvance}} Articles{{/if}}</div>
                    {{#if paperchaseNotAdvance}}
                    <div class="row"><div class="col s12"><button class="btn btn-add" id="add-all-existing">Add all <u>Paperchase Not Advance</u> to <u>Advance</u></button></div></div>
                    <div class="row"><div class="col s12"><table class="striped">
                        <tbody>
                            {{#each paperchaseNotAdvance}}
                            <tr>
                                <td>{{ids.pii}}</td>
                                <td><a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{ids.pii}}">OJS</a></td>
                                <!-- <td><a href="{{pathFor 'AdminArticle' _id=_id}}">View in Paperchase</a></td> -->
                                <td><a class="add-ojs-to-advance" href="{{pathFor 'AddLegacyAdvanceArticle' query=query}}">Add to Advance and update via OJS</a></td>
                                <td><a class="block-from-advance" href="#">Block article from Advance Import</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table></div></div>
                    {{else}}
                    No articles in Paperchase not set to advance that are in OJS advance
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Paperchase Advance, but not OJS Advance{{#if paperchaseOnly}}: {{countItems paperchaseOnly}} Articles{{/if}}</div>
                    {{#if paperchaseOnly}}
                    <div class="row"><div class="col s12"><button class="btn btn-delete" id="remove-all-paperchase">Remove all <u>Paperchase</u> only</button></div></div>
                    <div class="row"><div class="col s12"><table class="striped">
                        <tbody>
                            {{#each paperchaseOnly}}
                            <tr>
                                <td>{{ids.pii}}</td>
                                <td><a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&page=editor&op=submission&path[]={{ids.pii}}">OJS</a></td>
                                <td><a href="/admin/article/{{_id}}">Paperchase</a></td>
                                <td><input type="checkbox" data-article-id="{{_id}}" data-article-pii="{{ids.pii}}" id="{{_id}}-remove-article" class="remove-article checkbox-red"><label for="{{_id}}-remove-article"></label></td>
                                <td>{{>AdvanceRemoveArticle}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table></div></div>
                    <div class="publish-advanced fixed-action-btn card grey lighten-1" style="bottom: 46px; right: 24px; padding:10px;">
                        {{>AdminAdvanceBatchDelete parent="diff"}}
                    </div>
                    {{else}}
                    No missing articles
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{else}}

    {{>Progress}}

    {{/if}}
</template>
