<template name="AdminArticlesDashboard">
    {{>AdminHeader header="Article Dashboard"}}
    {{>SavingModal}}

    <div class="row">
        <div class="col s4">
            <ul class="collection card">
                <li class="collection-item"><a href="{{pathFor 'AdminArticleAdd'}}">Add Article</a></li>
                <li class="collection-item"><a href="{{pathFor 'AdminArticlesList'}}">Articles List</a></li>
                <li class="collection-item"><a href="{{pathFor 'AdminAdvanceArticles'}}">Advance Articles</a></li>
            </ul>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-content">
                    <h4>DOI</h4>
                    <h5>{{MissingDoiCount}} Papers Without DOI Saved</h5>
                    <button id="doi-register-check" class="btn" style="margin-bottom:20px;">DOI Registered Check</button>
                    <h6>PII:</h6>
                    <ul>
                    {{#each MissingDoiList}}
                    <li><a href="/admin/article/{{_id}}">{{#if ids.pii}}{{ids.pii}}{{else}}PII N/A{{/if}},</a></li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-content">
                    <h5>Feature Articles</h5>
                    <div class="row">
                        <div class="col s12">
                            <ul class="collection">
                            {{#each feature}}
                                <li class="collection-item"><h6>{{{title}}}</h6><p><a href="{{pathFor 'AdminArticle'}}">View</a></p></li>
                            {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminArticlesList">
    {{>AdminHeader header="Articles"}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    {{> reactiveTable collection=articles settings=settings}}
                </div>
            </div>
        </div>
    </div>
</template>

<!-- individual article below, multiple articles above -->

<template name="ArticleHeaderTitle">
    <h5 class="article-header">
        {{#if article_type.name}}
            <span class="article-type">{{article_type.name}}</span>
        {{/if}}
        {{#if issue_id}}
            <span><a href="{{pathFor 'AdminIssue' vi=vi}}" style="cursor: pointer;">Volume {{volume}}{{#if issue}}, Issue {{issue}}{{/if}}</a></span>
        {{/if}}

        {{#if page_start}}<span>pp {{page_start}}{{#if page_end}} &ndash; {{page_end}}{{/if}}</span>{{/if}}
    </h5>

    <h2 id="article-title">{{{title}}}</h2>
</template>

<template name="ArticleDoiRegisterButton">
    {{#with ids}}
    {{#if pii}}
    <a id="register-article-doi" href="{{doiLink}}?journal={{journalShort}}&pii={{pii}}" class="btn btn-primary" target="_BLANK">{{>AdminSendIcon}} Register DOI</a>
    {{/if}}
    {{/with}}
</template>

<template name="AdminArticleButtons">
    <div class="row">
        <div class="col s12">
            <ul class="article-nav">
                {{#with article}}
                <li><a href="{{pathFor 'AdminArticleOverview'}}" class="btn btn-edit {{isActiveRoute 'AdminArticleOverview'}}">Overview</a></li>
                {{#if isInRole 'edit,super-admin' 'article'}}
                <li><a href="{{pathFor 'AdminArticle'}}" class="btn btn-edit {{isActiveRoute 'AdminArticle'}}">{{>AdminEditIcon}} Edit</a></li>
                <li><a href="{{pathFor 'AdminArticleFiles'}}" class="btn btn-edit {{isActiveRoute 'AdminArticleFiles'}}">{{>AdminSettingsIcon}} PDF &amp; XML Settings</a></li>
                <li><a href="{{pathFor 'AdminArticleFilesUploader'}}" class="btn btn-edit {{isActiveRoute 'AdminArticleFilesUploader'}}">{{>AdminUploadIcon}} PDF &amp; XML Uploader</a></li>
                <li><a href="{{pathFor 'AdminArticleXmlReprocess'}}" class="btn btn-edit {{isActiveRoute 'AdminArticleXmlReprocess'}}">{{>AdminRefreshIcon}} Reprocess XML</a></li>
                <li><a href="{{pathFor 'AdminArticleFigures'}}" class="btn btn-edit {{isActiveRoute 'AdminArticleFigures'}}">{{>AdminFiguresIcon}} Figures</a></li>
                <li><a href="{{pathFor 'AdminArticleSupplemental'}}" class="btn btn-edit {{isActiveRoute 'AdminArticleSupplemental'}}">{{>AdminSupplementalIcon}} Supplemental</a></li>
                {{/if}}
                {{/with}}

                {{#if journal}}
                <li><a href="{{journal.visitor}}article/{{article.ids.pii}}" class="btn" target="_BLANK">{{>AdminFwdIcon}} Visitor Site</a></li>
                {{/if}}

                {{#with article}}
                <li>{{>ArticleDoiRegisterButton ids=ids}}</li>
                {{/with}}
            </ul>
        </div>
    </div>
    <!-- {{>AdminArticleCrawlerButtons}} -->
</template>

<template name="AdminArticleCrawlerButtons">
    <div class="row">
        <div class="col s12">
            {{#if ids.pii}}
            <a href="#" data-mongoid="{{_id}}" data-pii="{{ids.pii}}" class="btn btn-edit crawl-xml">crawl xml</a>
            <a href="#" data-mongoid="{{_id}}" data-pii="{{ids.pii}}" class="btn btn-edit crawl-pdf">crawl pdf</a>
            <a href="#" data-mongoid="{{_id}}" data-pii="{{ids.pii}}" class="btn btn-edit crawl-figures">crawl figures and tables</a>
            <a href="#" data-mongoid="{{_id}}" data-pii="{{ids.pii}}" class="btn btn-edit crawl-supplements">crawl supplemental files</a>
            {{/if}}
        </div>
    </div>
</template>

<template name="AdminArticleOverview">
    {{>AdminHeader header="Article Overview"}}

    {{#if article}}

    {{>AdminArticleHeader article=article}}

    {{#with article}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    {{>AdminArticleOverviewData}}
                </div>
            </div>
        </div>
    </div>

    <div class="row"><div class="col s12">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <h3>Data Submissions</h3>
                        {{#if submissions}}
                        <ul>
                        {{#each submissions}}
                            <li>{{pub_status}}: {{formatDate created_date}}</li>
                        {{/each}}
                        </ul>
                        {{else}}
                        <h4>No Records Found</h4>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div></div>

    {{/with}}

    {{else}}
    {{#if adminNotFound}}
    {{>Admin404 what="Article"}}
    {{/if}}
    {{/if}}
</template>

<template name="AdminArticleOverviewData">
    <div class="row">
        <div class="col s2 right-align"><label>Title:</label></div>
        <div class="col s10">{{{title}}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Article Type:</label></div>
        <div class="col s10">
            {{#if article_type}}
            {{article_type.name}}
            {{else}}
            N/A
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Volume:</label></div>
        <div class="col s10">{{#if volume}}{{volume}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Issue:</label></div>
        <div class="col s10">
            {{#if issue}}{{#if issue_id}}<a href="{{pathFor 'AdminIssue' vi=vi}}" target="_BLANK">{{issue}}</a>{{else}}{{issue}}{{/if}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Pages:</label></div>
        <div class="col s10">{{#if page_start}}{{page_start}}{{#if page_end}}-{{page_end}}{{/if}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>IDs:</label></div>
        <div class="col s10">
            {{#if ids}}
            {{#each arrayify ids}}
            {{#if equals name 'doi'}}
            <label>{{name}}:</label> <a href="{{value}}">{{prettyDoi value}}</a>
            {{else}}
            <label>{{name}}:</label> {{value}}
            {{/if}}
            <div class="clearfix"></div>
            {{/each}}
            {{else}}
            N/A
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Pub Status:</label></div>
        <div class="col s10">{{#if pub_status}}{{pub_status}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Site Settings:</label></div>
        <div class="col s10">
            <p class="valign-wrapper"><label class="valign">Feature:</label> {{#if feature}}{{>AdminTrueIcon}}{{else}}{{>AdminFalseIcon}}{{/if}}</p>

            <p class="valign-wrapper"><label class="valign">Advance:</label> {{#if advance}}{{>AdminTrueIcon}}{{else}}{{>AdminFalseIcon}}{{/if}}</p>

            <p class="valign-wrapper"><label class="valign">Display:</label> {{#if display}}{{>AdminTrueIcon}}{{else}}{{>AdminFalseIcon}}{{/if}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Dates:</label></div>
        <div class="col s10">
            {{#if dates}}
            {{#each arrayify dates}}
            <label>{{name}}:</label> {{articleDate value}}
            <div class="clearfix"></div>
            {{/each}}
            {{else}}
            N/A
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>History:</label></div>
        <div class="col s10">
            {{#if history}}
            {{#each arrayify history}}
            <label>{{name}}:</label> {{articleDate value}}
            <div class="clearfix"></div>
            {{/each}}
            {{else}}
            N/A
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Authors:</label></div>
        <div class="col s10">
            {{>AuthorsRefList}}
        </div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Correspondence:</label></div>
        <div class="col s10">{{#if correspondence}}{{#each correspondence}}<div class="clearfix"></div>{{{text}}}{{#if email}}<br><a href="{{email}}">{{email}}</a>{{/if}}{{/each}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Abstract:</label></div>
        <div class="col s10">{{#if abstract}}{{{abstract}}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Keywords:</label></div>
        <div class="col s10">{{#if keywords}}{{#each keywords}}{{{.}}}<div class="clearfix"></div>{{/each}}{{else}}N/A{{/if}}</div>
    </div>
    <div class="row">
        <div class="col s2 right-align"><label>Conflict of Interest:</label></div>
        <div class="col s10">{{{coi}}}</div>
    </div>

    {{#if legacy_files}}
    <div class="row">
        <div class="col s2 right-align"><label>OJS Files:</label></div>
        <div class="col s10">
            <div class="clearfix"></div>
            <label>Abstract: </label>
            {{#if legacy_files.abstract_exists}}
            {{#if ids.pii}}
            <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&amp;page=article&amp;op=view&amp;path[]={{ids.pii}}" class="file" target="_BLANK">Abstract</a>
            {{else}}
            Cannot link to abstract due to lack of PII
            {{/if}}
            {{else}}
            N/A
            {{/if}}

            <div class="clearfix"></div>
            <label>PDF: </label>
            {{#if legacy_files.pdf_galley_id}}
            {{#if ids.pii}}
            <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&amp;page=article&amp;op=view&amp;path[]={{ids.pii}}&amp;path%5B%5D={{legacy_files.pdf_galley_id}}" class="file" target="_BLANK">PDF</a>
            {{else}}
            Cannot link to PDF due to lack of PII
            {{/if}}
            {{else}}
            N/A
            {{/if}}

            <div class="clearfix"></div>
            <label>HTML: </label>
            {{#if legacy_files.html_galley_id}}
            {{#if ids.pii}}
            <a href="http://www.impactjournals.com/oncotarget/index.php?journal=oncotarget&amp;page=article&amp;op=view&amp;path[]={{ids.pii}}&amp;path%5B%5D={{legacy_files.html_galley_id}}" class="file" target="_BLANK">HTML</a>
            {{else}}
            Cannot link to PDF due to lack of PII
            {{/if}}
            {{else}}
            N/A
            {{/if}}

            <div class="clearfix"></div>
            <label>Supplemental: </label>
            {{#if legacy_files.has_supps}}
            Exists
            {{else}}
            N/A
            {{/if}}
        </div>
    </div>
    {{/if}}
</template>

<template name="AdminArticleHeader">
    {{>AdminArticleButtons article=article}}
    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card blue-grey lighten-5 z-depth-0">
                <div class="card-content">
                    {{>ArticleHeaderTitle}}
                    <input type="hidden" id="article-mongo-id" value="{{_id}}"/>
                    {{>AdminArticleIds}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>

<template name="AdminArticleIds">
    {{#if countKeys ids}}
    <div class="row no-margin">
        <div class="col s12">
            {{#each arrayify ids}}
            {{#if equals name 'doi'}}
            <div class="admin-id"><label>{{name}}:</label> <a href="{{value}}">{{prettyDoi value}}</a></div>
            {{else}}

            {{#if equals name 'pmc'}}
            <div class="admin-id"><label>{{name}}:</label> <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{value}}" target="_BLANK">{{value}}</a></div>
            {{else}}

            {{#if equals name 'pmc'}}
            <div class="admin-id"><label>{{name}}:</label> <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{value}}" target="_BLANK">{{value}}</a></div>
            {{else}}
            <div class="admin-id"><label>{{name}}:</label> {{value}}</div>
            {{/if}}

            {{/if}}

            {{/if}}
            {{/each}}
        </div>
    </div>
    {{/if}}
</template>
