<template name="AdminArticleFigures">
    {{>AdminHeader header="Article Figures"}}

    {{#if article}}

    {{>SavingModal}}

    {{>AdminArticleHeader article=article}}

    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Saved Figures</span>
                    {{#if files.figures}}
                    {{#with files}}
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s12 m2"><b>ID</b></div>
                                <div class="col s12 m2"><b>Figure</b></div>
                                <div class="col s12 m8"><b>Edit</b></div>
                            </div>
                        </li>
                        {{#each figures}}
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s12 m2">
                                    {{id}}
                                </div>
                                <div class="col s12 m2">
                                    {{#if url}}
                                    <div class="card z-depth-0 blue-grey lighten-5">
                                        <div class="card-content">
                                            {{#if optimized_urls}}
                                            <img src="{{optimized_urls.medium}}" class="materialboxed responsive-img" alt="{{id}}" id="figure-{{id}}">
                                            {{else}}
                                            <h4>Not an optimized image.</h4>
                                            <img src="{{url}}" class="materialboxed responsive-img" alt="{{id}}" id="figure-{{id}}">
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{else}}
                                    No Image Saved
                                    {{/if}}
                                </div>
                                {{#if editing}}
                                <div class="col s12 m8">
                                    {{>AdminArticleAssetsUploader uploadType='Edit' assetType='figures' id=id}}
                                </div>
                                {{else}}
                                <div class="col s12 m8">
                                    <button class="btn btn-edit btn-floating article-figure-edit" data-id="{{id}}">{{>AdminEditIcon}}</button>
                                </div>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/with}}
                    {{else}}
                    <h4>No Figures</h4>
                    {{/if}}
                    <p>Figure id, label, title, and caption are taken from the XML. To update figures list, upload new XML. This uploader is solely to upload new figure files.</p>
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{#if xmlFigures}}{{>AdminArticleFiguresXml}}{{/if}}

    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Optimized Figures</span>
                    {{#if files.figures}}
                    {{#with files}}
                    <ul class="collection">
                        {{#each figures}}
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s12 m2">
                                    {{id}}
                                </div>
                                {{#if optimized_urls}}
                                    {{#each arrayify optimized_urls}}
                                    <div class="col s12 m2">
                                        <h4>{{name}}</h4>
                                        <div class="card z-depth-0 blue-grey lighten-5">
                                            <div class="card-content">
                                                <img src="{{value}}" class="materialboxed responsive-img" alt="{{name}}" id="figure-{{name}}">
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                    {{else}}
                                    No Optimized Image Saved
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/with}}
                    {{else}}
                    <h4>No Figures</h4>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Article"}}{{/if}}

    {{/if}}
</template>

<template name="AdminArticleFiguresXml">
    {{#with xmlFigures}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">XML Figures Data</span>
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s2"><b>ID</b></div>
                                <div class="col s2"><b>Label</b></div>
                                <div class="col s4"><b>Title</b></div>
                                <div class="col s4"><b>Caption</b></div>
                            </div>
                        </li>
                        {{#each xmlFigures}}
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s2">{{id}}</div>
                                <div class="col s2">{{label}}</div>
                                <div class="col s4">{{{title}}}</div>
                                <div class="col s4">{{{caption}}}</div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="row">
                        <div class="col s12">
                            <p>The above data comes directly from the XML.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>


<template name="AdminArticleAssetsUploader">
    <div class="card z-depth-0 blue-grey lighten-5">
        <div class="card-content">
            <span class="card-title"><button class="btn btn-cancel btn-floating article-asset-cancel right" data-id="{{id}}">{{>AdminCancelIcon}} Cancel</button></span>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" value="{{id}}" id="fig-input-{{id}}" name="fig-input-{{id}}" class="active" disabled/>
                    <label for="fig-input-{{id}}" class="active">Figure ID</label>
                </div>
            </div>
            {{>s3ArticleAssetsUpload assetId=id assetType=assetType}}
            <!-- <div class="row">
                <div class="col s12 center-align">
                    <br><br>
                    <button class="btn btn-delete article-figure-delete" data-id="{{id}}">{{>AdminDeleteIcon}} Delete</button>
                </div>
            </div> -->
        </div>
    </div>
</template>
