<template name="AdminArticle">
    {{>AdminHeader header="Article Edit"}}

    {{#if article}}

    {{>AdminArticleHeader article=article}}

    {{#if articleProcessed}}

    {{>ArticleFormContainer article=article}}

    {{else}}

    {{>Loading}}

    {{/if}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Article"}}{{/if}}

    {{/if}}
</template>

<template name="ArticleFormContainer">
    {{>SavingModal}}

    {{#with article}}

    {{#if duplicate}}
    <div class="row"><div class="col s12">
        <div class="card red z-depth-0 lighten-3">
            <div class="card-content">
                <div class="row no-margin">
                    <div class="col s12">
                        <h2>Duplicate Article Found</h2>
                        {{#with duplicate}}
                        <h3><a href="{{pathFor 'AdminArticleOverview' _id=_id}}">{{{title}}}</a></h3>
                        {{/with}}
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    {{/if}}

    {{#if conflicts}}
    <div class="row"><div class="col s12">
        <div class="card red lighten-3 z-depth-0">
            <div class="card-content">
                <div class="card-title">
                    <i class="valign material-icons">&#xE000;</i><span class="valign">XML does not match the database</span>
                </div>

                <h4>Save the form below to update the database</h4>
                <p><i>If there is a conflict, the form inputs are from the XML. Unless, the XML did not contain the information and the database did. Then the input will be from the database.</i></p>

                <div class="row">
                    <div class="card z-depth-0">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s1"><b>Item</b></div>
                                <div class="col s3"><b>Conflict</b></div>
                                <div class="col s4"><b>XML</b></div>
                                <div class="col s4"><b>Database</b></div>
                            </div>
                            {{#each conflicts}}
                            <div class="row border-box">
                                <div class="col s1">{{#if parent}}{{parent}} | {{/if}}{{what}}</div>
                                <div class="col s3">{{{conflict}}}</div>
                                <div class="col s4">{{#if xml}}{{{xml}}}{{else}}&nbsp;{{/if}}</div>
                                <div class="col s4">{{#if db}}{{{db}}}{{else}}&nbsp;{{/if}}</div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    {{/if}}

    <div class="row page-anchors"><div class="col s12">
        <ul class="article-form-anchors">
            <li><a class="btn btn-sm anchor" href="#article-title">{{>AdminTitleIcon}} Title</a></li>
            <li><a class="btn btn-sm anchor" href="#meta">{{>AdminIdsIcon}} IDs</a></li>
            <li><a class="btn btn-sm anchor" href="#abstract">{{>AdminAbstractIcon}} Abstract</a></li>
            <li><a class="btn btn-sm anchor" href="#site">{{>AdminSiteIcon}} Site</a></li>
            <li><a class="btn btn-sm anchor" href="#meta">{{>AdminMetaIcon}} Meta</a></li>
            <li><a class="btn btn-sm anchor" href="#authors">{{>AdminAuthorsIcon}} Authors</a></li>
            <li><a class="btn btn-sm anchor" href="#author-notes">{{>AdminMailIcon}} Author Notes</a></li>
            <li><a class="btn btn-sm anchor" href="#correspondence">{{>AdminMailIcon}} Correspondence</a></li>
            <li><a class="btn btn-sm anchor" href="#dates">{{>AdminDatesIcon}} Dates</a></li>
            <li><a class="btn btn-sm anchor" href="#history">{{>AdminDatesIcon}} History</a></li>
            <li><a class="btn btn-sm anchor" href="#keywords">{{>AdminKeywordsIcon}} Keywords</a></li>
        </ul>
    </div></div>
    {{/with}}

    <div class="row"><div class="col s12"><div class="card z-depth-0">
        {{>ArticleForm}}
    </div></div></div>
</template>

<template name="ArticleForm">
    {{#with article}}
    <form id="article-form" class="card-content">

        {{>FixedSaveBtn}}

        {{>RequiredSymbolRowMessage}}

        <fieldset id="article-title">
            <legend>{{>RequiredSymbol}} Title</legend>
            <div class="row">
                <div class="input-field col s12">
                    <div class="card blue-grey z-depth-0 lighten-5 no-margin">
                        <div class="form-title">{{{title}}}</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset id="ids">
            <legend>IDs {{>AdminArticleFormAddBtn what='ids'}}</legend>
            {{>AddArticleId}}
            {{#if ids}}
            <div class="row">
                {{#each arrayify ids}}
                <div class="col s11 m2">
                    <div class="card blue-grey lighten-5 z-depth-0">
                        <div class="card-content">
                            <input class="article-id form-{{name}}" type="text" id="article-id-{{name}}" value="{{value}}"/>
                            <label for="article-id-{{name}}" class="active">{{name}}</label>
                        </div>
                    </div>
                </div>
                <div class="col s1 no-padding">
                    <i id="remove-{{name}}" class="prefix remove-id material-icons red-type close-icon">&#xE15C;</i>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </fieldset>

        <fieldset id="abstract">
            <legend>Abstract</legend>
            <div class="row">
                <div class="input-field col s12">
                    <div class="card blue-grey z-depth-0 lighten-5 no-margin">
                        <div class="form-abstract">{{{abstract}}}</div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset id="site">
            <legend>Site Settings</legend>
                <div class="row left-align">
                    <div class="input-field col s12 m4 no-margin">
                        <input class="form-feature filled-in" name="feature" type="checkbox" id="feature-checkbox" checked="{{checked feature}}"/>
                        <label for="feature-checkbox">Feature</label>
                    </div>
                    <div class="input-field col s12 m4 no-margin">
                        <input class="filled-in" name="advance" type="checkbox" id="advance-checkbox"  checked="{{checked advance}}{{checked aop}}"/>
                        <label for="advance-checkbox">Advance</label>
                    </div>
                    <div class="input-field col s12 m4 no-margin">
                        <input class="filled-in" name="display" type="checkbox" id="display-checkbox"  checked="{{checked display}}"/>
                        <label for="display-checkbox">Display</label>
                    </div>
                </div>
        </fieldset>

        <fieldset id="meta">
            <legend>Meta</legend>
            <div class="row">
                <div class="input-field col s6 m1">
                    <input class="form-page_start" type="number" id="page_start" value="{{page_start}}"/>
                    <label for="page_start" class="{{#if page_start}}active{{/if}}">First Page</label>
                </div>
                <div class="input-field col s6 m1">
                    <input class="form-page_end" type="number" id="page_end" value="{{page_end}}"/>
                    <label for="page_end" class="{{#if page_end}}active{{/if}}">Last Page</label>
                </div>
                <div class="input-field col s6 m3 input-field">
                    <select class="form-issue form-volume form-issue_id" id="article-issue">
                        <option value="">&mdash;&mdash; Select Issue &mdash;&mdash;</option>
                        {{#each volumes}}
                        <option disabled>&mdash; Volume {{volume}} &mdash;</option>
                        {{#each issues_data}}
                        <option value="{{_id}}" selected="{{#if selected}}selected{{/if}}">Volume {{volume}}, Issue {{issue}}</option>
                        {{/each}}
                        {{/each}}
                    </select>
                    <label for="article-issue">Volume / Issue</label>
                </div>
                <div class="input-field col s6 m3">
                    <select class="form-status" id="article-pub-status">
                        <option value="">&mdash; Select &mdash;</option>
                        {{#each pub_status_list}}
                        <option value="{{abbrev}}" disabled="{{#if disabled}}disabled{{/if}}" selected="{{#if selected}}selected{{/if}}">{{abbrev}}</option>
                        {{/each}}
                    </select>
                    <label for="article-pub-status">Pub Status</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m4">
                    <select class="form-article-type" id="article-type">
                        <option value="">&mdash; Select &mdash;</option>
                        {{#each article_type_list}}
                        <option value="{{short_name}}" data-id="{{_id}}" data-plural="{{plural}}" data-nlm="{{nlm_type}}" selected="{{#if selected}}selected{{/if}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <label for="article-type">Article Type</label>
                </div>
                <div class="input-field col s6 m4">
                    <select class="form-section" id="article-section">
                        <option value="">&mdash; Select &mdash;</option>
                        {{#each article_section_list}}
                        <option value="{{_id}}" selected="{{#if selected}}selected{{/if}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <label for="article-section">Article Section</label>
                    {{#if equals journal_short_name 'oncotarget'}}
                    {{journal_short_name}}
                        *** If moving recent research paper out of recent, must also update advance page
                    {{/if}}
                </div>
            </div>
        </fieldset>

        <fieldset id="authors">
            <legend>Authors {{>AdminArticleFormAddBtn what='author'}}</legend>
            {{#if authors}}
            {{>AdminArticleFormAuthors}}
            {{/if}}
        </fieldset>

        <fieldset id="affiliations">
            <legend>Affiliations {{>AdminArticleFormAddBtn what='affiliation'}}</legend>
            {{#if affiliations}}
            {{>AdminArticleFormAffiliations}}
            {{/if}}
        </fieldset>

        {{#if author_notes}}
        <fieldset id="author-notes">
            <legend>Author Notes</legend>
            {{>AdminArticleFormNotes}}
        </fieldset>
        {{/if}}

        <fieldset id="correspondence">
            <legend>Correspondence {{>AdminArticleFormAddBtn what='correspondence'}}</legend>
            {{#if correspondence}}
            {{#each correspondence}}
            <div class="row no-margin">
                <div class="col s11">
                    <div class="card blue-grey lighten-5 z-depth-0">
                        <div class="card-content">
                            <div class="row no-margin correspondence-row">
                                <div class="col s6 input-field">
                                    <input class="correspondence-text" name="correspondence_text_{{@index}}" type="text" value="{{text}}"/>
                                    <label for="correspondence_text_{{@index}}" class="{{#if text}}active{{/if}}">Text</label>
                                </div>
                                <div class="col s6 input-field">
                                    <input class="correspondence-email" name="correspondence_email_{{@index}}" type="email" value="{{email}}"/>
                                    <label for="correspondence_email_{{@index}}" class="{{#if email}}active{{/if}}">Email</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col s1 no-padding">
                    {{>AdminRemoveIcon index=@index name=@index nameAdditional="correspondence" what="correspondence"}}
                </div>
            </div>
            {{/each}}
            {{/if}}
        </fieldset>

        <fieldset id="dates">
            <legend> Dates {{>AdminArticleFormAddBtn what='dates'}}</legend>
            {{>AddArticleDate}}
            {{#if dates}}
            <div class="row">
                {{! Separating out collection, because this is the only date that we are allowing mm-yyyy format on}}
                {{#each arrayify dates}}
                <div class="col s11 m2">
                    <div class="card blue-grey lighten-5 z-depth-0">
                        <div class="card-content">
                            {{>AdminDateInput}}
                        </div>
                    </div>
                </div>
                <div class="col s1 no-padding">
                    {{>AdminRemoveIcon name=name what="dates"}}
                </div>
                {{/each}}
            </div>
            {{/if}}
        </fieldset>

        <fieldset id="history">
            <legend>History {{>AdminArticleFormAddBtn what='history'}}</legend>
            {{>AddArticleHistory}}
            {{#if history}}
            <div class="row">
                {{#each arrayify history}}
                    <div class="col s11 m2">
                        <div class="card blue-grey lighten-5 z-depth-0">
                            <div class="card-content">
                                {{>AdminHistoryInput}}
                            </div>
                        </div>
                    </div>
                    <div class="col s1 no-padding">
                        {{>AdminRemoveIcon name=name what="history"}}
                    </div>
                {{/each}}
            </div>
            {{/if}}
        </fieldset>

        <fieldset id="keywords">
            <legend>Keywords {{>AdminArticleFormAddBtn what='kw'}}</legend>
            {{#if keywords}}
            <div class="row form-keywords">
                {{#each keywords}}
                <div class="col s11 m4">
                    <div class="card blue-grey lighten-5 z-depth-0">
                        <div class="card-content">
                            <input class="kw" type="text" value="{{.}}"/>
                        </div>
                    </div>
                </div>
                <div class="col s1 no-padding">
                    {{>AdminRemoveIcon name=@index nameAdditional="kw" what="kw"}}
                </div>
                {{/each}}
            </div>
            {{/if}}
        </fieldset>

        <fieldset id="coi">
            <legend>Conflict of Interest</legend>
            <div class="row">
                <div class="col s6 input-field">
                    <input class="coi" name="coi" type="text" value="{{coi}}"/>
                    <label for="coi" class="{{#if coi}}active{{/if}}">COI</label>
                </div>
            </div>
        </fieldset>

        <fieldset id="figures">
            <legend>Figures</legend>
            <div class="row form-figures">
                <div class="col s12">
                    {{#if files.figures}}
                    {{>AdminArticleFigOrSuppTable files=files.figures}}
                    {{else}}
                    N/A
                    {{/if}}
                    <p class="font-sm">The only way to update figures in the database is by uploading XML. There are no inputs to update this on the admin site.</p>
                </div>
            </div>
        </fieldset>

        <fieldset id="supplemental">
            <legend>Supplemental Material</legend>
            <div class="row">
                <div class="col s12">
                    {{#if files.supplemental}}
                    {{>AdminArticleFigOrSuppTable files=files.supplemental}}
                    {{else}}
                    N/A
                    {{/if}}
                    <p class="font-sm">The only way to update supplemental materials in the database is by uploading XML. There are no inputs to update this on the admin site.</p>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="col s12 center-align">
                {{>SaveBtn}}
            </div>
        </div>
    </form>
    {{/with}}
</template>

<!--Form Partials-->
<template name="AdminArticleFormAddBtn">
    <button id="add-{{what}}" class="btn btn-floating waves-effect waves-light" alt="Add {{what}}">{{>AdminAddIcon}}</button>
</template>
<template name="AdminDateInput">
    <input id="{{name}}" type="date" class="datepicker dates" data-value="{{inputDate value}}" value="{{inputDate value}}" date="{{inputDate value}}" placeholder="{{placeholderDate value}}">
    <label for="{{name}}" class="active">{{name}}</label>
</template>
<template name="AdminHistoryInput">
    <input id="{{name}}" type="date" class="datepicker history" data-value="{{inputDate value}}" value="{{inputDate value}}" date="{{inputDate value}}"  placeholder="{{placeholderDate value}}">
    <label for="{{name}}" class="active">{{name}}</label>
</template>
<template name="AdminArticleFormAuthors">
    <div class="row">
        <div class="col s12">
            <ul class="authors-list">
                {{#each authors}}
                <li class="author-li row author-row no-margin">
                    <div class="col s11">
                        <div class="card blue-grey lighten-5 z-depth-0">
                            <div class="card-content">
                                <div class="row no-margin valign-wrapper">
                                    <div class="col s12 m1 center-align">
                                        {{>AdminDragIcon}}
                                    </div>
                                    <div class="col s12 m11 center-align">
                                        <div class="row no-margin">
                                            <div class="input-field col s12 m3">
                                                <input name="name_first" class="author" type="text" value="{{name_first}}" id="name_first_{{@index}}">
                                                <label for="name_first_{{@index}}" class="{{#if name_first}}active{{/if}}">First Name</label>
                                            </div>
                                            <div class="input-field col s12 m3">
                                                <input name="name_middle" class="author" type="text" value="{{name_middle}}" id="name_middle_{{@index}}">
                                                <label for="name_middle_{{@index}}" class="{{#if name_middle}}active{{/if}}">Middle Name</label>
                                            </div>
                                            <div class="input-field col s12 m3">
                                                <input name="name_last" class="author" type="text" value="{{name_last}}" id="name_last_{{@index}}">
                                                <label for="name_last_{{@index}}" class="{{#if name_last}}active{{/if}}">Last Name</label>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <input name="name_suffix" class="author" type="text" value="{{name_suffix}}" id="name_suffix_{{@index}}">
                                                <label for="name_suffix_{{@index}}" class="{{#if name_suffix}}active{{/if}}">Suffix</label>
                                            </div>
                                            <div class="col s12 m1 left-align">
                                                <input name="equal_contrib" class="author-equal-contrib" type="checkbox" checked="{{equal_contrib}}" id="equal_contrib_{{@index}}">
                                                <label for="equal_contrib_{{@index}}" class="{{#if name_last}}active{{/if}}">Equal Contributor</label>
                                            </div>
                                        </div>
                                        <div class="row no-margin">

                                            <div class="col s12 m6 left-align">
                                                <label>Affiliations</label>
                                                <div class="clearfix"></div>
                                                {{#if affiliations_list}}
                                                {{#each affiliations_list}}
                                                <span class="margin-right-lg">
                                                    <input type="checkbox" class="author-affiliation filled-in" id="affiliation-{{@index}}-{{author_mongo_id}}" checked="{{author_aff}}" />
                                                    <label for="affiliation-{{@index}}-{{author_mongo_id}}">{{affiliationNumber @index}}</label>
                                                </span>
                                                {{/each}}
                                                {{else}}
                                                None
                                                {{/if}}
                                            </div>

                                            <div class="col s12 m3 left-align">
                                                <label>Author Notes</label>
                                                <div class="clearfix"></div>
                                                {{#if author_notes_list}}
                                                {{#each author_notes_list}}
                                                <span class="margin-right-lg">
                                                    <input type="checkbox" class="author-note filled-in" id="author-note-{{@index}}-{{author_mongo_id}}" data-note-id="{{id}}" checked="{{author_note}}" />
                                                    <label for="author-note-{{@index}}-{{author_mongo_id}}">{{authorNoteNumber @index}}</label>
                                                </span>
                                                {{/each}}
                                                {{else}}
                                                None
                                                {{/if}}
                                            </div>

                                            <div class="hide">
                                                {{#each arrayify ids}}
                                                <input class="author-id" type="hide" name="{{name}}" value="{{value}}">
                                                {{/each}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s1">
                        {{>AdminRemoveIcon what="author" name="author-{{@index}}"}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>
<template name="AdminArticleFormAffiliations">
    <div class="row">
        <div class="col s12">
            <ol class="affiliations-list">
                {{#each arrayify affiliations}}
                <li id="affiliation-li-{{@index}}" class="affiliation-li">
                    <div class="row no-margin">
                        <div class="col s11">
                            <div class="card blue-grey lighten-5 z-depth-0">
                                <div class="card-content">
                                    <div class="row no-margin valign-wrapper">
                                        <div class="col s12 m1 center-align">
                                            {{>AdminDragIcon}}
                                        </div>
                                        <div class="col s12 m11">
                                            <input id="article-affiliation-{{@index}}" class="article-affiliation" type="text" value="{{value}}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s1">
                            {{>AdminRemoveIcon what="affiliation" index=@index name=@index  nameAdditional="affiliation"}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</template>
<template name="AdminArticleFormNotes">
    <div class="row">
        <div class="col s12">
            <ol class="notes-list">
                {{#each author_notes}}
                <li id="authors-note-li-{{@index}}" class="authors-note-li">
                    <div class="row no-margin">
                        <div class="col s11">
                            <div class="card blue-grey lighten-5 z-depth-0">
                                <div class="card-content">
                                    <div class="row no-margin valign-wrapper author-notes-row">
                                        <!-- <div class="col s12 m1 center-align">
                                            {{>AdminDragIcon}}
                                        </div> -->
                                        <div class="col s12 m4 input-field">
                                            <input class="author-notes-id" name="author_notes_id_{{@index}}" type="text" value="{{id}}"/>
                                            <label for="author_notes_id_{{@index}}" class="{{#if id}}active{{/if}}">ID</label>
                                        </div>
                                        <div class="col s12 m4 input-field">
                                            <input class="author-notes-label" name="author_notes_label_{{@index}}" type="text" value="{{label}}"/>
                                            <label for="author_notes_label_{{@index}}" class="{{#if label}}active{{/if}}">Label</label>
                                        </div>
                                        <div class="col s12 m4 input-field">
                                            <input class="author-notes-note" name="author_notes_note_{{@index}}"  type="text" value="{{note}}"/>
                                            <label for="author_notes_note_{{@index}}" class="{{#if note}}active{{/if}}">Note</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s1">
                            {{>AdminRemoveIcon what="author-notes" index=@index name=@index}}
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</template>

<template name="AddArticleHistory">
    <div class="edit-box teal lighten-5 add-article-history hide">
        <div class="row">
            {{#each arrayify history}}
            <div class="col s12 m4 center-align">
                <button id="add-{{name}}" class="btn add-btn btn-sm add-history-type">{{name}}</button>
                <p class="center-align">{{value}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</template>
<template name="AddArticleDate">
    <div class="edit-box teal lighten-5 add-article-dates hide">
        <div class="row">
          {{#each arrayify dates}}
            <div class="col s12 m4 center-align">
                <button id="add-{{name}}" class="btn btn-sm add-btn add-date-type">{{name}}</button>
                <p class="center-align">{{value}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</template>
<template name="AddArticleId">
    <div class="edit-box teal lighten-5 add-article-ids hide">
        <div class="row">
            {{#each arrayify ids}}
            <div class="col s12 m4 center-align">
                <button id="add-{{name}}" class="btn add-btn btn-sm add-id-type">{{name}}</button>
                <p class="center-align">{{value}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</template>
