<template name="AdminArticleFiles">
    {{>AdminHeader header="Article PDF and XML Settings"}}

    {{#if article}}

    {{>SavingModal}}

    {{>AdminArticleHeader article=article}}

    {{#with article}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Files</span>
                    <div class="row">
                        <div class="col s12">

                            {{#if files.xml}}
                                {{#with files}}

                                    {{#with xml}}
                                        {{#if url}}
                                            <a class="btn" href="{{url}}" target="_BLANK">{{>AdminDownloadIcon}} XML</a>
                                            {{else}}
                                            <a class="btn disabled">No XML</a>
                                        {{/if}}
                                    {{/with}}

                                {{/with}}

                                {{else}}
                                <a class="btn disabled">No XML</a>
                            {{/if}}

                            {{#if files.pdf}}
                                {{#with files}}

                                    {{#with pdf}}
                                        {{#if url}}
                                            <a class="btn" href="{{url}}" target="_BLANK">{{>AdminDownloadIcon}} PDF</a>
                                            {{else}}
                                            <a class="btn disabled">No PDF</a>
                                        {{/if}}
                                    {{/with}}

                                {{/with}}

                                {{else}}
                                <a class="btn disabled">No PDF</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <form id="files-form">
                        <span class="card-title">File Settings</span>
                        <div class="row">
                            <div class="col s12 m6">
                                <fieldset>
                                    <legend>XML</legend>

                                    {{#if files.xml}}
                                    {{#with files}}
                                    {{#with xml}}
                                    {{#if url}}
                                    <input type="checkbox" id="display-xml" checked="{{checked display}}"/>
                                    <label for="display-xml">Display XML</label>
                                    {{else}}
                                    <p>No XML</p>
                                    {{/if}}
                                    {{/with}}
                                    {{/with}}
                                    {{else}}
                                    <p>No XML</p>
                                    {{/if}}
                                </fieldset>
                            </div>
                            <div class="col s12 m6">
                                <fieldset>
                                    <legend>PDF</legend>
                                    {{#if files.pdf}}
                                    {{#with files}}
                                    {{#with pdf}}
                                    {{#if url}}
                                    <input type="checkbox" id="display-pdf" checked="{{checked display}}"/>
                                    <label for="display-pdf">Display PDF</label>
                                    {{else}}
                                    <p>No PDF</p>
                                    {{/if}}
                                    {{/with}}
                                    {{/with}}
                                    {{else}}
                                    <p>No PDF</p>
                                    {{/if}}
                                </fieldset>
                            </div>
                        </div>

                        {{#with ../articleTypeSettings}}
                        <div class="row">
                            <div class="col s12">
                                <h4>Article Type <u>{{name}}</u> Display Settings</h4>
                                <input type="checkbox" id="display-fulltxt" checked="{{checked full_text}}" disabled/>
                                <label for="display-fulltxt">Full Text (If type not set to display, this will override individual article XML display setting)</label>
                                <div class="clearfix"></div>
                                <input type="checkbox" id="display-abs" checked="{{checked abstract}}" disabled/>
                                <label for="display-abs">Abstract</label>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                {{#if isInRole 'super-admin'}}
                                <p><a href="{{pathFor 'ArticleTypeEdit' _id=_id}}">Edit <u>{{name}}</u> Settings</a></p>
                                {{else}}
                                <p>Contact IT to update</p>
                                {{/if}}
                            </div>
                        </div>
                        {{/with}}

                        {{#with files}}
                        {{#if showFilesButton xml pdf}}
                        <div class="row">
                            <div class="col s12 center-align">
                            {{>SaveBtn what="Settings"}}
                            </div>
                        </div>
                        {{/if}}
                        {{/with}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Article"}}{{/if}}

    {{/if}}
</template>

<template name="AdminArticleFilesUploader">
    {{>AdminHeader header="Article PDF and XML Uploader"}}
    {{>SavingModal}}

    {{#if article}}

    {{>AdminArticleHeader article=article}}

    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">XML &amp; PDF Uploader</div>
                    {{>s3ArticleFilesUpload}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{#if verify}}{{>AdminArticleXmlVerify}}{{/if}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Article"}}{{/if}}

    {{/if}}
</template>

<template name="AdminArticleXmlVerify">
    {{#if article.aop_xml}}
    <div class="row">
        <div class="col s12">
            <div class="card red lighten-3 z-depth-0">
                <div class="card-content">
                    <h4>Verify AOP XML information below before saving to the database.</h4>
                    <p>AOP files are not stored, they are only used to update the database.</p>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    {{>ArticleFormContainer article=article}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AdminUploadArticleXml">
    {{>AdminHeader header="Article XML Uploader"}}
    {{>SavingModal}}
    {{#if article}}
    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Verify Data</div>
                    {{>AdminArticleOverviewData}}
                    <div class="row">
                        <div class="col s2 right-align"><label>Figures:</label></div>
                        <div class="col s10">
                        {{#if files.figures}}
                        {{>AdminArticleFigOrSuppTable files=files.figures}}
                        {{else}}
                        N/A
                        {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s2 right-align"><label>Supplemental Material:</label></div>
                        <div class="col s10">
                        {{#if files.supplemental}}
                        {{>AdminArticleFigOrSuppTable files=files.supplemental}}
                        {{else}}
                        N/A
                        {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <button class="btn btn-submit btn-primary" id="add-article">Add Article</button>
                        </div>
                        <div class="col s6 right-align">
                            <button class="btn btn-cancel" id="add-article-cancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
    {{else}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <div class="card-title">Uploader</div>
                    {{>s3UploadNewArticle}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name="AdminArticleFigOrSuppTable">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Label</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{#each files}}
            <tr>
                <td>{{#if id}}{{id}}{{else}}&nbsp;{{/if}}</td>
                <td>{{#if label}}{{label}}{{else}}&nbsp;{{/if}}</td>
                <td>{{#if title}}{{{title}}}{{else}}&nbsp;{{/if}}</td>
            </tr>
            <tr>
                <td colspan="4">{{#if caption}}{{{caption}}}{{else}}&nbsp;{{/if}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>

<template name="AdminArticleXmlReprocess">
    {{>AdminHeader header="Article XML Reprocess"}}

    {{#if article}}

    {{>AdminArticleHeader article=article}}

    {{#if verify}}
    {{>AdminArticleXmlVerify}}
    {{else}}
    {{>ProcessingNotHidden}}
    {{/if}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Article"}}{{/if}}

    {{/if}}
</template>
