<template name="AdminArticleSupplemental">
    {{>AdminHeader header="Article Supplemental"}}

    {{#if article}}

    {{>SavingModal}}

    {{>AdminArticleHeader article=article}}

    {{#with article}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">Saved Supplemental</span>
                    {{#if files.supplemental}}
                    {{#with files}}
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s12 m2"><b>ID</b></div>
                                <div class="col s12 m2"><b>File</b></div>
                                <div class="col s8 m4"><b>Edit</b></div>
                            </div>
                        </li>
                        {{#each supplemental}}
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s12 m2">
                                    {{id}}
                                </div>
                                <div class="col s12 m2">
                                    {{#if file}}
                                    <div class="card z-depth-0 blue-grey lighten-5">
                                        <div class="card-content center-align">
                                            {{#if url}}<a class="btn" href="{{url}}" target="_BLANK">{{>AdminDownloadIcon}}</a>{{/if}}
                                        </div>
                                    </div>
                                    {{else}}
                                    No File Saved
                                    {{/if}}
                                </div>
                                {{#if editing}}
                                <div class="col s8 m8">
                                    {{>AdminArticleAssetsUploader uploadType='Edit' assetType='supplemental' id=id}}
                                </div>
                                {{else}}
                                <div class="col s8 m8">
                                    <button class="btn btn-edit btn-floating article-supp-edit" data-id="{{id}}">{{>AdminEditIcon}}</button>
                                </div>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/with}}
                    {{else}}
                    <h4>No Supplemental</h4>
                    {{/if}}
                    <p>Supplemental id, label, title, and caption are taken from the XML. To update supplemental list, upload new XML. This uploader is solely to upload new supplemental files.</p>
                </div>
            </div>
        </div>
    </div>
    {{/with}}

    {{#if xmlSupplemental}}{{>AdminArticleSupplementalXml}}{{/if}}

    {{else}}

    {{#if adminNotFound}}{{>Admin404 what="Article"}}{{/if}}

    {{/if}}
</template>

<template name="AdminArticleSupplementalXml">
    {{#with xmlSupplemental}}
    <div class="row">
        <div class="col s12">
            <div class="card z-depth-0">
                <div class="card-content">
                    <span class="card-title">XML Supplemental Data</span>
                    <ul class="collection">
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s2"><b>ID</b></div>
                                <div class="col s2"><b>Label</b></div>
                                <div class="col s8"><b>Caption</b></div>
                            </div>
                        </li>
                        {{#each xmlSupplemental}}
                        <li class="collection-item">
                            <div class="row no-margin">
                                <div class="col s2">{{id}}</div>
                                <div class="col s2">{{label}}</div>
                                <div class="col s8">{{{caption}}}</div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="row">
                        <div class="col s12">
                            <p>The above data comes directly from the XML.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</template>
