<template name="AuthorsRefList">
    <div class="authors-and-ref">
        <div class="authors">
            {{#each authors }}
                <span class="author">
                    {{name_first}} {{#if name_middle}} {{name_middle}}{{/if}}{{#if name_last}} {{name_last}}{{/if}}{{#if name_suffix}} {{name_suffix}}{{/if}}{{#if affiliations_numbers}}{{>AuthorAffsAndNotes}}{{/if}}<span class="comma">,</span>
                </span>
            {{/each}}
        </div>

        <ul class="author-affiliations">
        {{#each affiliations}}
        {{#if notEmpty .}}
            <li>
                <sup>{{affiliationNumber @index affiliations}}</sup> {{.}}
            </li>
        {{/if}}
        {{/each}}
        </ul>

        {{#if equal_contribs}}
        <span class="equal-contrib">{{equal_contribs}} Contributed equally to this work.</span>
        {{/if}}

        {{#if author_notes}}
        {{#each author_notes}}
        <span class="author-notes">{{label}} {{note}}.</span>
        {{/each}}
        {{/if}}
    </div>
</template>

<template name="AuthorAffsAndNotes">
    <sup class="author-affiliations">
        {{#each affiliations_numbers}}
        <span>{{affiliationNumber .}}<span class="comma">,</span></span>
        {{/each}}
        {{#each author_notes}}<span>{{label}}<span class="comma">,</span></span>{{/each}}
        {{#if equal_contrib}}<span>{{equal_contrib}}<span class="comma">,</span></span>{{/if}}
    </sup>
</template>

<template name="ArticleAssets">
    {{#with files}}
    {{#with xml}}
    <a class="btn btn-sm {{#if display}}{{else}}btn-gray{{/if}}" target="_BLANK" href="{{url}}">XML</a>
    {{/with}}
    {{#with pdf}}
    <a class="btn btn-sm {{#if display}}{{else}}btn-gray{{/if}}" target="_BLANK" href="{{url}}">PDF</a>
    {{/with}}
    {{/with}}
</template>
